<div class="container">
    <div class="row">
        <div class="col">
            <h2>Добавити результат:</h2>
        </div>
    </div>
    <!-- error -->
    <app-error *ngIf="errorChampionshipMatches" [message]="errorChampionshipMatches"></app-error>
    <!-- matches -->
    <div *ngIf="championshipMatches" class="row">
        <div class="col-12">
            <table class="table table-hover table-inverse table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th class="d-none d-md-table-cell text-center">№</th>
                        <th class="d-none d-md-table-cell text-center">Матч</th>
                        <th colspan="2" class="text-center">Результати</th>
                        <th class="text-center">
                            <span class="d-none d-md-table-cell">Додати</span>
                            <i class="fa fa-plus-circle d-md-none" aria-hidden="true"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let championshipMatch of championshipMatches" [ngClass]="{'bg-success': updatedMatches['match_' + championshipMatch.id]}">
                        <th scope="row" class="d-none d-md-table-cell align-middle text-center">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <strong class="fa-stack-1x text-success">{{championshipMatch.number_in_competition}}</strong>
                            </span>
                        </th>
                        <td class="d-none d-md-table-cell">
                            <img class="small-image" src="{{clubsImagesUrl}}{{championshipMatch.club_first.image}}" alt="{{championshipMatch.club_first.link}}">
                            <small class="text-muted">{{championshipMatch.starts_at}}</small>
                            <img class="small-image" src="{{clubsImagesUrl}}{{championshipMatch.club_second.image}}" alt="{{championshipMatch.club_second.link}}"><br>
                            <strong>{{championshipMatch.club_first.title}}</strong> - <strong>{{championshipMatch.club_second.title}}</strong>
                        </td>
                        <td class="align-middle text-center">
                            <div class="d-md-none">
                                <img class="small-image" src="{{clubsImagesUrl}}{{championshipMatch.club_first.image}}" alt="{{championshipMatch.club_first.link}}"><br>
                                <small>{{championshipMatch.club_first.title}}</small>
                            </div>
                            <input type="number"
                                   class="form-control text-center"
                                   min="0"
                                   max="9"
                                   maxlength="1"
                                   [disabled]="updatedMatches['match_' + championshipMatch.id]"
                                   [(ngModel)]="championshipMatch.home">
                        </td>
                        <td class="align-middle text-center">
                            <div class="d-md-none">
                                <img class="small-image" src="{{clubsImagesUrl}}{{championshipMatch.club_second.image}}" alt="{{championshipMatch.club_second.link}}"><br>
                                <small>{{championshipMatch.club_second.title}}</small>
                            </div>
                            <input type="number"
                                   class="form-control text-center"
                                   min="0"
                                   max="9"
                                   maxlength="1"
                                   [disabled]="updatedMatches['match_' + championshipMatch.id]"
                                   [(ngModel)]="championshipMatch.away">
                        </td>
                        <td class="align-middle text-center">
                            <button (click)="onSubmit(championshipMatch)"
                                    [hidden]="spinnerButton['match_' + championshipMatch.id] || updatedMatches['match_' + championshipMatch.id]"
                                    class="btn btn-outline-success">
                                <span class="d-none d-md-table-cell">Додати</span>
                                <i class="fa fa-plus-circle d-md-none" aria-hidden="true"></i>
                            </button>
                            <app-spinner-button [hidden]="!spinnerButton['match_' + championshipMatch.id]"></app-spinner-button>
                            <i [hidden]="!updatedMatches['match_' + championshipMatch.id]" class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div *ngIf="isUpdatedMatches" class="row">
        <div class="col-12 text-center">
            <button [hidden]="spinnerUpdateRatingButton" class="btn btn-lg btn-outline-primary" (click)="updateRating()">Оновити рейтинг</button>
            <app-spinner-button [hidden]="!spinnerUpdateRatingButton"></app-spinner-button>
            <p class="text-muted">*Рейтинг оновиться автоматчно після виходу з цієї сторінки</p>
        </div>
    </div>
</div>
