<div class="container">
    <app-spinner *ngIf="!error && !clubs" [height]="250"></app-spinner>
    <div *ngIf="clubs && clubs.length" class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover table-inverse">
                <thead class="bg-faded text-muted">
                    <tr>
                        <th>ID</th>
                        <th>Лого</th>
                        <th>Ім'я</th>
                        <th>Name</th>
                        <th>Створено</th>
                        <th>Змінено</th>
                        <th>Змінити</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let club of clubs">
                        <td>
                            {{club.id}}.
                        </td>
                        <td class="text-xs-center">
                            <img class="small-image" src="{{clubsImagesUrl}}{{club.image}}" alt="{{club.link}}">
                            <img *ngIf="club.parent" class="small-image" src="{{clubsImagesUrl}}{{club.parent.image}}" alt="{{club.parent.link}}" title="{{club.parent.title}}">
                        </td>
                        <td>
                            {{club.title}}
                        </td>
                        <td>
                            {{club.link}}
                        </td>
                        <td>
                            <small>{{club.created_at}}</small>
                        </td>
                        <td>
                            <small>{{club.updated_at}}</small>
                        </td>
                        <td class="text-xs-center">
                            <a routerLink="/manage/clubs/{{club.id}}/edit" type="button" class="btn btn-sm btn-outline-warning">
                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                            </a>
                            <button type="button"
                                    class="btn btn-sm btn-outline-danger"
                                    mwlConfirmationPopover
                                    [title]="title"
                                    [message]="message + ' ' + club.title + '?'"
                                    placement="left"
                                    (confirm)="delete(club)"
                                    (cancel)="cancelClicked = true">
                                <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="error">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
              <strong>{{error}}</strong>
            </div>
        </div>
    </div>
    <div class="row text-xs-center pagination-row">
        <app-pagination [totalItems]="total"
                        [currentPage]="currentPage"
                        [pageSize]="perPage"
                        [path]="path">
        </app-pagination>
    </div>
</div>
