<div class="container">
    <div class="row">
        <div class="col">
            <h2>Таблиця команд:</h2>
        </div>
    </div>
    <!-- spinner -->
    <app-spinner *ngIf="spinnerClubs" [height]="250"></app-spinner>
    <!-- error -->
    <app-error *ngIf="errorClubs" [message]="errorClubs"></app-error>
    <!-- no clubs -->
    <app-info *ngIf="!clubs && !spinnerClubs && !errorClubs" [message]="noClubs"></app-info>
    <!-- clubs table -->
    <div *ngIf="clubs" class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered table-hover table-inverse">
                <thead class="bg-faded text-muted">
                    <tr>
                        <th>№</th>
                        <th>Лого</th>
                        <th>Назва</th>
                        <th>Name</th>
                        <th>Створено</th>
                        <th>Змінено</th>
                        <th>Змінити</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let club of clubs">
                        <th scope="row">
                            {{club.id}}.
                        </th>
                        <td class="text-xs-center">
                            <img class="small-image" src="{{clubsImagesUrl}}{{club.image}}" alt="{{club.link}}">
                            <img *ngIf="club.parent" class="small-image" src="{{clubsImagesUrl}}{{club.parent.image}}" alt="{{club.parent.link}}" title="{{club.parent.title}}">
                        </td>
                        <td>
                            {{club.title}}
                        </td>
                        <td>
                            {{club.link}}
                        </td>
                        <td>
                            <small>{{club.created_at}}</small>
                        </td>
                        <td>
                            <small>{{club.updated_at}}</small>
                        </td>
                        <td class="text-xs-center">
                            <a routerLink="/manage/clubs/{{club.id}}/edit" type="button" class="btn btn-sm btn-outline-warning">
                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                            </a>
                            <button type="button"
                                    class="btn btn-sm btn-outline-danger"
                                    mwlConfirmationPopover
                                    [title]="title"
                                    [message]="message + ' ' + club.title + '?'"
                                    placement="left"
                                    (confirm)="deleteClub(club)"
                                    (cancel)="cancelClicked = true">
                                <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-pagination *ngIf="clubs"
                    [totalItems]="total"
                    [currentPage]="currentPage"
                    [pageSize]="perPage"
                    [path]="path">
    </app-pagination>
</div>
