<!--<b (click) ="delete(one); $event.stopPropagation()">X</b>-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Всі новини:</h2>
        </div>
    </div>
    <div *ngIf="!error && !news" class="row">
        <div class="col-xs-12 text-xs-center">
            <img src="../../../img/5.gif" alt="spinner">
        </div>
    </div>
    <div *ngFor="let one of news | paginate: { id: 'news-list',
                                              itemsPerPage: perPage,
                                              currentPage: currentPage,
                                              totalItems: total }"
         class="row bg-inverse text-white one-news">
        <div class="hidden-xs-down col-sm-4 col-md-3 col-lg-2">
            <img class="img-fluid" src="{{newsImagesUrl}}{{one.image}}" alt="{{one.title}}">
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
            <h5>{{one.title}}</h5>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="text-xs-left">
                        <small class="text-muted">{{one.created_at}}</small>
                    </div>
                    <div class="text-xs-left">
                        <a routerLink="/news/{{one.id}}" class="btn btn-sm btn-outline-secondary">Читати далі</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="text-xs-right">
                        <small class="text-muted">Категорія:</small>
                    </div>
                    <div class="text-xs-right">
                        <span *ngIf="one.tournament">{{one.tournament.title}}</span>
                        <span *ngIf="!one.tournament">Робота сайту</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="error">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
                <strong>{{error}}</strong>
            </div>
        </div>
    </div>
    <div class="row text-xs-center pagination-row">
        <pagination-controls  id="news-list"
                              (pageChange)="pageChanged($event)"
                              maxSize="9"
                              directionLinks="true"
                              autoHide="true">
        </pagination-controls>
    </div>
</div>