<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-9">
            <router-outlet></router-outlet>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <!-- navigation -->
            <div class="card mt-2 blue-shadow">
                <ul class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action"
                       routerLink="/championship/rules"
                       routerLinkActive="active">
                        Правила
                    </a>
                    <a class="list-group-item list-group-item-action"
                       routerLink="/championship/predicts"
                       routerLinkActive="active">
                        Прогнози
                    </a>
                    <a class="list-group-item list-group-item-action"
                       routerLink="/championship/rating"
                       routerLinkActive="active">
                        Рейтинг
                    </a>
                    <a class="list-group-item list-group-item-action"
                       routerLink="/championship/results"
                       routerLinkActive="active">
                        Результати
                    </a>
                </ul>
            </div>
            <!-- last results -->
            <app-championship-last-results></app-championship-last-results>
            <!-- rating top -->
            <app-championship-rating-top></app-championship-rating-top>
        </div>
    </div>
</div>