<!-- team rating table -->
<app-team-rating-table [authenticatedUser]="authenticatedUser"
                       [teamRating]="teamRating"
                       [errorTeamRating]="errorTeamRating"
                       [spinnerTeamRating]="spinnerTeamRating">
</app-team-rating-table>
<!-- team rating user table -->
<app-team-rating-user-table [authenticatedUser]="authenticatedUser"
                            [teamRatingUser]="teamRatingUser"
                            [errorTeamRatingUser]="errorTeamRatingUser"
                            [spinnerTeamRatingUser]="spinnerTeamRatingUser">
</app-team-rating-user-table>