<div class="container">
    <div class="row">
        <div class="col">
            <h2>Таблиця новин:</h2>
        </div>
    </div>
    <!-- error -->
    <app-error *ngIf="errorNews" [message]="errorNews"></app-error>
    <!-- news table -->
    <div *ngIf="news" class="row">
        <div class="col-12">
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead class="bg-light text-dark">
                    <tr>
                        <th>ID</th>
                        <th>Ім'я</th>
                        <th>Категорія</th>
                        <th>Дата</th>
                        <th>Змінено</th>
                        <th>Редагувати</th>
                        <th>Видалити</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let one of news">
                        <th scope="row">{{one.id}}.</th>
                        <td>{{one.title}}</td>
                        <td>
                            <span *ngIf="one.tournament">{{one.tournament.title}}</span>
                            <span *ngIf="!one.tournament">Робота сайту</span>
                        </td>
                        <td>{{one.created_at}}</td>
                        <td>{{one.updated_at}}</td>
                        <td><a routerLink="/manage/news/{{one.id}}/edit" type="button" class="btn btn-warning">Редагувати</a></td>
                        <td>
                            <button type="button"
                                    class="btn btn-outline-danger"
                                    mwlConfirmationPopover
                                    [title]="title"
                                    [message]="message + ' ' + one.title + '?'"
                                    placement="left"
                                    (confirm)="deleteNewsItem(one)"
                                    (cancel)="cancelClicked = true">
                                Видалити
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- pagination -->
    <app-pagination *ngIf="news"
                    [totalItems]="total"
                    [currentPage]="currentPage"
                    [pageSize]="perPage"
                    [path]="path">
    </app-pagination>
</div>