<div class="container">
    <div *ngIf="!error && !news" class="row">
        <div class="col-xs-12 text-xs-center">
            <img src="../../../../img/5.gif" alt="spinner">
        </div>
    </div>
    <div *ngIf="news && news.length" class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-inverse">
                    <tr>
                        <th>ID</th>
                        <th>Ім'я</th>
                        <th>Категорія</th>
                        <th>Дата</th>
                        <th>Редагувати</th>
                        <th>Видалити</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let one of news | paginate: { id: 'news-list',
                                              itemsPerPage: perPage,
                                              currentPage: currentPage,
                                              totalItems: total }">
                        <th scope="row">{{one.id}}.</th>
                        <td>{{one.title}}</td>
                        <td>{{one.tournament.title}}</td>
                        <td>{{one.created_at}}</td>
                        <td><button type="button" class="btn btn-warning">Редагувати</button></td>
                        <td>
                            <button type="button"
                                    class="btn btn-outline-danger"
                                    mwlConfirmationPopover
                                    [title]="title"
                                    [message]="message + ' ' + one.title + '?'"
                                    placement="left"
                                    (confirm)="delete(one)"
                                    (cancel)="cancelClicked = true">
                                Видалити
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="error">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
                <strong>{{error}}</strong>
            </div>
        </div>
    </div>
    <div class="row text-xs-center pagination-row">
        <pagination-controls  id="news-list"
                              (pageChange)="pageChanged($event)"
                              maxSize="9"
                              directionLinks="true"
                              autoHide="true">
        </pagination-controls>
    </div>
</div>