<nav class="navbar navbar-full navbar-dark bg-inverse">
    <a class="navbar-brand hidden-md-down" routerLink="/">
        Prognoz.org.ua
    </a>
    <div *ngIf="!user">
        <form novalidate [formGroup]="headerSigninForm" (ngSubmit)="onSubmit(headerSigninForm)" class="form-inline float-xs-right hidden-sm-down">

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                <input type="text"
                       id="name"
                       placeholder="Ім'я"
                       class="form-control max-width-150"
                       formControlName="name">
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                <input type="password"
                       id="password"
                       placeholder="Пароль"
                       class="form-control max-width-150"
                       formControlName="password">
            </div>

            <button [hidden]="spinner" [disabled]="headerSigninForm.invalid" type="submit" class="btn btn-primary">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Вхід
            </button>
            <app-spinner-button [hidden]="!spinner"></app-spinner-button>
            <div class="btn-group" role="group">
                <button [disabled]="spinner" routerLink="signup" type="button" class="btn btn-outline-secondary">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Реєстрація
                </button>
                <button [disabled]="spinner" routerLink="recovery" type="button" class="btn btn-outline-secondary">
                    <i class="fa fa-question-circle" aria-hidden="true"></i> Забули пароль
                </button>
            </div>
        </form>
        <div class="float-xs-right hidden-md-up">
            <button routerLink="signin" class="btn btn-primary">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Вхід
            </button>
            <div class="btn-group" role="group">
                <button routerLink="signup" class="btn btn-outline-secondary">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Реєстрація
                </button>
                <button routerLink="recovery" class="btn btn-outline-secondary">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="form-inline float-xs-right" *ngIf="user">
        <h1 class="navbar-brand">
            <span class="text-muted">Привіт,</span> {{user.name}}
        </h1>
        <button *ngIf="user" routerLink="user" class="btn btn-outline-secondary">
            <i class="fa fa-user-circle" aria-hidden="true"></i> Профіль
        </button>
        <button *ngIf="user.showAdministrationLink" routerLink="manage" class="btn btn-outline-secondary">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Керування
        </button>
        <button (click)="logout()" class="btn btn-outline-secondary">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Вихід
        </button>
    </div>
</nav>
<div class="container-fluid container-first">
    <div class="row">
        <div class="col-xs-12">
            <a class="text-xs-center" routerLink="/">
                <img src="../../img/logo-4.png" class="img-fluid" alt="prognoz.org.ua">
            </a>
        </div>
    </div>
</div>
<nav class="navbar navbar-full navbar-dark bg-inverse menu">
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">Головна</a>
        </li>
        <li class="nav-item">
            <a routerLink="/news" routerLinkActive="active" class="nav-link">Новини</a>
        </li>
        <li class="nav-item">
            <a routerLink="/championship" class="nav-link">Чемпіонат</a>
        </li>
        <!--<li class="nav-item">-->
            <!--<a routerLink="/cup" class="nav-link">Кубок</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
            <!--<a routerLink="/team" class="nav-link">Командний</a>-->
        <!--</li>-->
        <li class="nav-item">
            <a routerLink="/guestbook" class="nav-link">Гостьова</a>
        </li>
    </ul>
</nav>