<div class="container">
    <div class="row">
        <div class="col">
            <h2>Керування командами:</h2>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <button routerLink="/manage" type="button" class="btn btn-outline-primary">Назад до меню керування</button>
            <button routerLink="/manage/clubs" type="button" class="btn btn-success">Таблиця команд</button>
            <button routerLink="/manage/clubs/create" type="button" class="btn btn-success">Створити команду</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>