<div class="container margin-10">
  <div class="row">
    <div class="col-xs-12">
      <h2>Керування командами:</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button routerLink="/manage" type="button" class="btn btn-outline-primary">Назад до меню керування</button>
      <button routerLink="/manage/clubs" type="button" class="btn btn-success">Таблиця команд</button>
      <button routerLink="create" type="button" class="btn btn-success">Створити команду</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>