<footer>
    <nav class="navbar navbar-dark bg-inverse text-center">
        <div class="row">
            <div class="col-12">
                <small class="navbar-text ml-0 ml-sm-1 ml-md-2 ml-lg-4 ml-xl-5">
                    <a routerLink="/news" class="text-muted">Новини</a>
                </small>
                <small class="navbar-text ml-0 ml-sm-1 ml-md-2 ml-lg-4 ml-xl-5">
                    <a routerLink="/championship" class="text-muted">Чемпіонат</a>
                </small>
                <small class="navbar-text ml-0 ml-sm-1 ml-md-2 ml-lg-4 ml-xl-5">
                    <a routerLink="/guestbook" class="text-muted">Гостьова</a>
                </small>
                <small class="navbar-text ml-0 ml-sm-1 ml-md-2 ml-lg-4 ml-xl-5">
                    <a href="https://vk.com/club16862133" target="_blank" class="text-muted">Спільнота VK</a>
                </small>
            </div>
        </div>
        <span class="navbar-text text-white">
            <a routerLink="/" class="text-white">&copy; Prognoz.org.ua | 2017</a>
        </span>
    </nav>
</footer>