<!-- one match row (if user not authenticated)-->
<div *ngIf="match && !authenticatedUser"
     class="row align-items-center mb-2 p-md-1 rounded bg-white black-shadow black-border cursor-pointer"
     data-toggle="collapse"
     [attr.data-target]="'#collapseMatch' + match.id"
     aria-expanded="false"
     [attr.aria-controls]="'collapseMatch' + match.id"
     (click)="getChampionshipMatchStatisticData(match)">
    <!-- home club logo -->
    <div class="hidden-sm-down col-md-2">
        <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_first.image}}" alt="{{match.club_first.title}}"
             title="{{match.club_first.title}}">
    </div>
    <!-- club names, starts_at -->
    <div class="col-12 col-md-8 bg-inverse rounded">
        <div class="row">
            <div class="col-12 text-center text-white">
                {{ match.starts_at.slice(0, -3) }}
            </div>
        </div>
        <div class="row align-items-center mb-2">
            <div class="col-5 text-center text-white">
                <strong>{{ match.club_first.title }}</strong>
            </div>
            <div class="col-2 text-center text-white">
                <strong>vs</strong>
            </div>
            <div class="col-5 text-center text-white">
                <strong>{{ match.club_second.title }}</strong>
            </div>
            <!-- expandable statistic -->
            <div class="collapse col-12 mb-2" id="{{'collapseMatch' + match.id}}">
                <div class="card text-center">
                    <div class="card-header">
                        Статистика
                    </div>
                    <!-- spinner statistic -->
                    <app-spinner *ngIf="spinnerStatistic" [height]="250"></app-spinner>
                    <!-- error statistic -->
                    <app-error *ngIf="errorStatistic" [message]="error"></app-error>
                    <!-- statistic -->
                    <div *ngIf="statistic && !spinnerStatistic"
                         class="card-block bg-white">
                        <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                            <canvas baseChart
                                    [data]="resultChartData"
                                    [labels]="resultChartLabels"
                                    [chartType]="resultChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- away club logo -->
    <div class="hidden-sm-down col-md-2">
        <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_second.image}}" alt="{{match.club_second.title}}"
             title="{{match.club_second.title}}">
    </div>
</div>
<!-- one match row (if user is authenticated)-->
<div *ngIf="match && authenticatedUser"
     class="row align-items-center mb-2 p-md-1 rounded bg-white black-shadow black-border cursor-pointer"
     [ngClass]="{'green-inset-and-black-shadow': match.championship_predicts[0],
                 'red-inset-and-black-shadow': !match.championship_predicts[0]}"
     data-toggle="collapse"
     [attr.data-target]="'#collapseMatch' + match.id"
     aria-expanded="false"
     [attr.aria-controls]="'collapseMatch' + match.id"
     (click)="getChampionshipMatchStatisticData(match)">
    <!-- home club logo -->
    <div class="hidden-md-down col-md-2">
        <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_first.image}}" alt="{{match.club_first.title}}" title="{{match.club_first.title}}">
    </div>
    <!-- club names, starts_at, inputs -->
    <div class="col-12 col-md-12 col-lg-8 bg-inverse rounded"
         [ngClass]="{'green-shadow': match.championship_predicts[0],
                     'red-shadow': !match.championship_predicts[0]}"
         [formGroup]="championshipPredictsForm">
        <div class="row">
            <div class="col-12 text-center text-white">
                {{ match.starts_at.slice(0, -3) }}
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-6 col-sm-4 col-md-3 col-lg-4 flex-unordered flex-sm-unordered text-right text-sm-center text-white">
                <strong><label [attr.for]="match.id + '_home'">{{ match.club_first.title }}</label></strong>
            </div>
            <div class="col-12 col-sm-4 col-md-6 col-lg-4 flex-last flex-sm-unordered text-center text-white mb-2" (click)="onClick($event)">
                <input [attr.id]="match.id + '_home'"
                       type="number"
                       min="0"
                       max="9"
                       class="predict-input"
                       [formControlName]="match.id + '_home'"><strong>:</strong><!--
                --><input [attr.id]="match.id + '_away'"
                      type="number"
                      min="0"
                      max="9"
                      class="predict-input"
                      [formControlName]="match.id + '_away'">
            </div>
            <div class="col-6 col-sm-4 col-md-3 col-lg-4 flex-unordered flex-sm-unordered text-left text-sm-center text-white">
                <strong><label [attr.for]="match.id + '_away'">{{ match.club_second.title }}</label></strong>
            </div>
            <!-- expandable statistic -->
            <div class="collapse col-12 mb-2" id="{{'collapseMatch' + match.id}}">
                <div class="card text-center">
                    <div class="card-header">
                        Статистика
                    </div>
                    <!-- spinner statistic -->
                    <app-spinner *ngIf="spinnerStatistic" [height]="250"></app-spinner>
                    <!-- error statistic -->
                    <app-error *ngIf="errorStatistic" [message]="error"></app-error>
                    <!-- statistic -->
                    <div *ngIf="statistic && match && !spinnerStatistic" class="card-block bg-white">
                        <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                            <canvas baseChart
                                    [data]="resultChartData"
                                    [labels]="resultChartLabels"
                                    [chartType]="resultChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- away club logo -->
    <div class="hidden-md-down col-md-2">
        <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_second.image}}" alt="{{match.club_second.title}}" title="{{match.club_second.title}}">
    </div>
</div>