<div class="container">
    <div class="row">
        <div class="col">
            <h2>Керування змаганнями:</h2>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <button routerLink="/manage" type="button" class="btn btn-outline-primary">Назад до меню керування</button>
            <button routerLink="/manage/competitions" type="button" class="btn btn-success">Таблиця змагань</button>
            <button routerLink="/manage/competitions/create" type="button" class="btn btn-success">Створити замагання</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>