<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Редагувати команду <span *ngIf="club">{{club.title}}</span></h1>
        </div>
    </div>
    <app-spinner *ngIf="!error && (!club || !clubs)" [height]="250"></app-spinner>
    <div *ngIf="club" class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="card card-inverse">
                <h5 class="card-header card-inverse">
                    Інформація про команду
                </h5>
                <br>
                <div class="row">
                    <div class="text-xs-center" [ngClass]="{'col-xs-6': club.parent}" [ngClass]="{'col-xs-12': !club.parent}">
                        <img class="card-img-top img-fluid" src="{{clubImagesUrl}}{{club.image}}" alt="{{club.title}}" title="{{club.title}}">
                    </div>
                    <div *ngIf="club.parent" class="text-xs-center" [ngClass]="{'col-xs-6': club.parent}">
                        <img class="card-img-top img-fluid" src="{{clubImagesUrl}}{{club.parent.image}}" alt="{{club.parent.title}}" title="{{club.parent.title}}">
                    </div>
                </div>
                <div class="card-block">
                    <div class="card-title"><small class="text-muted">Ім'я: </small>{{club.title}}</div>
                    <div class="card-title"><small class="text-muted">Name: </small>{{club.link}}</div>
                    <div class="card-title"><small class="text-muted">Створено: </small>{{club.created_at}}</div>
                    <div class="card-title"><small class="text-muted">Змінено: </small>{{club.updated_at}}</div>
                    <div *ngIf="club.parent" class="card-title"><small class="text-muted">Країна: </small>{{club.parent.title}}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-6 bg-inverse text-white dark-form">
            <form novalidate [formGroup]="clubEditForm" (ngSubmit)="onSubmit(clubEditForm)">
                <input type="hidden" formControlName="id">

                <div class="form-group"
                     [class.has-danger]="clubEditForm.get('title').invalid && clubEditForm.get('title').touched">
                    <label class="form-control-label" for="title"><strong>Назва:</strong></label>
                    <input type="text"
                           id="title"
                           placeholder="Введіть назву команди"
                           class="form-control"
                           formControlName="title">
                    <div *ngIf="clubEditForm.get('title').hasError('required') && clubEditForm.get('title').touched" class="form-control-feedback">
                        <small>Назва команди обов'язкова</small>
                    </div>
                    <div *ngIf="clubEditForm.get('title').hasError('minlength') && clubEditForm.get('title').touched" class="form-control-feedback">
                        <small>Назва команди повинна бути більшою ніж 2 символи</small>
                    </div>
                    <div *ngIf="clubEditForm.get('title').hasError('maxlength') && clubEditForm.get('title').touched" class="form-control-feedback">
                        <small>Назва команди перевищує 50 символів</small>
                    </div>
                </div>

                <div class="form-group"
                     [class.has-danger]="clubEditForm.get('link').invalid && clubEditForm.get('link').touched">
                    <label class="form-control-label" for="link"><strong>Назва англійською:</strong></label>
                    <input type="text"
                           id="link"
                           placeholder="Введіть назву команд англійською"
                           class="form-control"
                           formControlName="link">
                    <div *ngIf="clubEditForm.get('link').hasError('required') && clubEditForm.get('link').touched" class="form-control-feedback">
                        <small>Назва команди англійською обов'язкова</small>
                    </div>
                    <div *ngIf="clubEditForm.get('link').hasError('minlength') && clubEditForm.get('link').touched" class="form-control-feedback">
                        <small>Назва команди англійською повинна бути більшою ніж 2 символи</small>
                    </div>
                    <div *ngIf="clubEditForm.get('link').hasError('maxlength') && clubEditForm.get('link').touched" class="form-control-feedback">
                        <small>Назва команди англійською перевищує 50 символів</small>
                    </div>
                </div>

                <div class="form-group" [class.has-danger]="errorImage">
                    <label class="form-control-label" for="image"><strong>Емблема / Прапор:</strong></label>
                    <div *ngIf="!errorImage" class="alert alert-info" role="alert">
                        <strong>Увага!</strong> Зображення повинне бути формату <strong>.png / .gif</strong> і розміром <strong>256x256</strong> пікселів.
                    </div>
                    <input type="file"
                           id="image"
                           placeholder="Завантажте емблему/прапор для команди"
                           class="form-control"
                           (change)="fileChange($event)"
                           accept=".png,.jpg,.gif,.jpeg">
                    <div *ngIf="errorImage" class="form-control-feedback">
                        <small>{{errorImage}}</small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="parent_id"><strong>Країна:</strong></label>
                    <select id="parent_id"
                            class="form-control"
                            formControlName="parent_id">
                        <option [value]="'country'" [attr.selected]="club.parent_id === null">Це збірна команда</option>
                        <option *ngFor="let c of clubs" [value]="c.id">{{c.title}}</option>
                    </select>
                </div>

                <button [hidden]="spinner" [disabled]="clubEditForm.invalid || errorImage" type="submit" class="btn btn-primary">Змінити</button>
                <app-spinner-button [hidden]="!spinner"></app-spinner-button>
            </form>
        </div>
    </div>
</div>
