<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Новина:</h2>
        </div>
    </div>
    <div *ngIf="!error && !news" class="row">
        <div class="col-xs-12 text-xs-center">
            <img src="../../../img/5.gif" alt="spinner">
        </div>
    </div>
    <div *ngIf="news" class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <div class="card card-inverse">
                <h5 class="card-header card-inverse">
                    {{news.title}}
                </h5>
                <img class="card-img-top img-fluid" src="{{newsImagesUrl}}{{news.image}}" alt="{{news.title}}">
                <div class="card-block">
                    <div class="card-title"><small class="text-muted">{{news.created_at}}</small></div>
                    <div class="card-title">
                        <small class="text-muted">Категорія: </small>
                        <span *ngIf="news.tournament">{{news.tournament.title}}</span>
                        <span *ngIf="!news.tournament">Робота сайту</span>
                    </div>
                    <p class="card-text">{{news.body}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="error">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
                <strong>{{error}}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <a (click)="goBack()" class="btn btn-secondary btn-block">Назад</a>
        </div>
    </div>
</div>