<div class="container">
    <div class="row">
        <div class="col">
            <h2>Новина:</h2>
        </div>
    </div>
    <!-- spinner -->
    <app-spinner *ngIf="spinner" [height]="250"></app-spinner>
    <!-- error -->
    <app-error *ngIf="error" [message]="error"></app-error>
    <!-- news, comments, form -->
    <div *ngIf="news">
        <!-- news -->
        <div class="row">
            <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                <div class="card mb-sm-2">
                    <h4 class="card-header">{{news.title}}</h4>
                    <img class="card-img-top img-fluid p-sm-2" src="{{newsImagesUrl}}{{news.image}}" alt="{{news.title}}">
                    <div class="card-block">
                        <p class="card-text">Категорія: {{news.tournament ? news.tournament.title : 'Робота сайту'}}</p>
                        <p class="card-text">{{news.body}}</p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text"><small class="text-muted">{{news.created_at}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- comments -->
        <div *ngIf="news.comments && news.comments.length" class="row">
            <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                <div *ngFor="let comment of news.comments" class="card mb-sm-2">
                    <div class="card-block">
                        <div class="h4 card-title">
                            <img class="rounded small-image" src="{{userImagesUrl}}{{comment.user.image || userImageDefault}}" alt="{{comment.user.name}}">
                            {{comment.user.name}}
                        </div>
                        <p class="card-text">{{comment.body}}</p>
                        <p class="card-text"><small class="text-muted">{{comment.created_at}}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- form for adding comments -->
        <div *ngIf="authenticatedUser" class="row">
            <div class="col col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2 text-white">
                <form novalidate [formGroup]="addCommentForm" (ngSubmit)="onSubmit(addCommentForm.value)" class="bg-inverse p-2 rounded">
                    <input type="hidden" name="user_id" formControlName="user_id">
                    <input type="hidden" name="news_id" formControlName="news_id">
                    <div class="form-group"
                         [class.has-danger]="addCommentForm.get('body').invalid && (addCommentForm.get('body').touched || !addCommentForm.get('body').pristine)">
                        <label class="form-control-label" for="body"><strong>Добавити коментар:</strong></label>
                        <textarea id="body"
                                  placeholder="Напишіть щось..."
                                  class="form-control"
                                  [class.form-control-danger]="addCommentForm.get('body').invalid && (addCommentForm.get('body').touched || !addCommentForm.get('body').pristine)"
                                  rows="3"
                                  formControlName="body">
                        </textarea>
                        <div *ngIf="addCommentForm.get('body').hasError('required') && (addCommentForm.get('body').touched || !addCommentForm.get('body').pristine)" class="form-control-feedback">
                            <small>Текст коментаря обов'язковий.</small>
                        </div>
                        <div *ngIf="addCommentForm.get('body').hasError('minlength') && !addCommentForm.get('body').pristine" class="form-control-feedback">
                            <small>Текст коментаря повинен бути більшим ніж 10 символів.</small>
                        </div>
                        <div *ngIf="addCommentForm.get('body').hasError('maxlength') && !addCommentForm.get('body').pristine" class="form-control-feedback">
                            <small>Текст коментаря перевищує 1000 символів.</small>
                        </div>
                    </div>
                    <button [disabled]="addCommentForm.invalid"
                            [hidden]="spinnerButton"
                            type="submit"
                            class="btn btn-primary">Добавити</button>
                    <!-- spinner button -->
                    <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
                </form>
            </div>
        </div>
    </div>
    <!-- previous page button -->
    <div class="row">
        <div class="col text-center mt-2">
            <a (click)="goBack()" class="btn btn-secondary btn-lg">Назад</a>
        </div>
    </div>
</div>