<div class="container">
    <div class="row">
        <div class="col">
            <h2>Змінити результат:</h2>
        </div>
    </div>
    <!-- spinner -->
    <app-spinner *ngIf="spinnerChampionshipMatches || spinnerClubs" [height]="250"></app-spinner>
    <!-- errors -->
    <app-error *ngIf="errorClubs" [message]="errorClubs"></app-error>
    <app-error *ngIf="errorChampionshipMatches" [message]="errorChampionshipMatches"></app-error>
    <!-- no data -->
    <app-info *ngIf="!clubs && !spinnerClubs && !errorClubs" [message]="noClubs"></app-info>
    <app-info *ngIf="!championshipMatches && !spinnerChampionshipMatches && !errorChampionshipMatches" [message]="noChampionshipMatches"></app-info>
    <!-- matches -->
    <div *ngIf="championshipMatches && clubs" class="row">
        <div class="col-12">
            <table class="table table-hover table-striped table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th class="text-center">№</th>
                        <th colspan="2" class="text-center">Матч</th>
                        <th colspan="2" class="text-center">Результати</th>
                        <th class="text-center">Змінити</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let championshipMatch of championshipMatches | slice:0:12" [ngClass]="{'bg-success': updatedMatches['match_' + championshipMatch.id]}">
                    <td class="align-middle text-center">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <strong class="fa-stack-1x text-danger">{{championshipMatch.number_in_competition}}</strong>
                            </span>
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="championshipMatch.t1_id" [disabled]="true">
                            <option *ngFor="let c of clubs" [value]="c.id">{{c.title}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="championshipMatch.t2_id" [disabled]="true">
                            <option *ngFor="let c of clubs" [value]="c.id">{{c.title}}</option>
                        </select>
                    </td>
                    <td class="align-middle text-center">
                        <input type="number"
                               class="form-control"
                               min="0"
                               max="9"
                               [disabled]="updatedMatches['match_' + championshipMatch.id]"
                               [(ngModel)]="championshipMatch.home">
                    </td>
                    <td class="align-middle text-center">
                        <input type="number"
                               class="form-control"
                               min="0"
                               max="9"
                               [disabled]="updatedMatches['match_' + championshipMatch.id]"
                               [(ngModel)]="championshipMatch.away">
                    </td>
                    <td class="align-middle text-center">
                        <button (click)="onSubmit(championshipMatch)"
                                [hidden]="spinnerButton['match_' + championshipMatch.id] || updatedMatches['match_' + championshipMatch.id]"
                                class="btn btn-danger">Змінити</button>
                        <app-spinner-button [hidden]="!spinnerButton['match_' + championshipMatch.id]"></app-spinner-button>
                        <i [hidden]="!updatedMatches['match_' + championshipMatch.id]" class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- update rating button -->
    <div *ngIf="isUpdatedMatches" class="row">
        <div class="col-12 text-center">
            <button [hidden]="spinnerUpdateRatingButton" class="btn btn-lg btn-outline-primary" (click)="updateRating()">Оновити рейтинг</button>
            <app-spinner-button [hidden]="!spinnerUpdateRatingButton"></app-spinner-button>
            <p class="text-muted">*Рейтинг оновиться автоматчно після виходу з цієї сторінки</p>
        </div>
    </div>
</div>
