<div class="container">
    <div class="row">
        <div class="col">
            <h2>Редагувати матч:</h2>
        </div>
    </div>
    <!-- spinner -->
    <app-spinner *ngIf="spinnerActiveMatches" [height]="100"></app-spinner>
    <!-- error -->
    <app-error *ngIf="errorActiveMatches" [message]="errorActiveMatches"></app-error>
    <!-- select match input -->
    <div *ngIf="!spinnerActiveMatches" class="row">
        <div class="hidden-md-down col-lg-2">
            <div *ngIf="selectedMatch" class="rounded bg-inverse">
                <img class="img-fluid" src="{{clubsImagesUrl}}{{selectedMatch.club_first.image}}" alt="{{selectedMatch.club_first.title}}">
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-8 text-white">
            <div class="bg-inverse p-2 rounded">
                <div class="form-group">
                    <label class="form-control-label" for="active_match"><strong>Виберіть матч:</strong></label>
                    <select id="active_match" class="form-control" (change)="onChange($event.target.value)">
                        <option disabled selected>Виберіть матч</option>
                        <option *ngFor="let match of activeMatches" [value]="match.id">
                            ({{match.starts_at}}) {{match.club_first.title}} - {{match.club_second.title}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="hidden-md-down col-lg-2">
            <div *ngIf="selectedMatch" class="rounded bg-inverse">
                <img class="img-fluid" src="{{clubsImagesUrl}}{{selectedMatch.club_second.image}}" alt="{{selectedMatch.club_second.title}}">
            </div>
        </div>
    </div>
    <!-- spinner clubs -->
    <app-spinner *ngIf="spinnerClubs" [height]="250"></app-spinner>
    <!-- error clubs -->
    <app-error *ngIf="errorClubs" [message]="errorClubs"></app-error>
    <!-- match edit form -->
    <div *ngIf="!spinnerClubs && selectedMatch" class="row">
        <div class="col-12 col-md-12 col-lg-8 offset-lg-2 text-white">
            <form novalidate [formGroup]="championshipMatchEditActiveForm" (ngSubmit)="onSubmit()" class="bg-inverse p-2 rounded">
                <!-- home club -->
                <div class="form-group"
                     [class.has-danger]="championshipMatchEditActiveForm.get('t1_id').hasError('required') && championshipMatchEditActiveForm.get('t1_id').touched">
                    <label class="form-control-label" for="t1_id"><strong>Господарі:</strong></label>
                    <select id="t1_id"
                            class="form-control"
                            formControlName="t1_id"
                            [class.form-control-danger]="championshipMatchEditActiveForm.get('t1_id').hasError('required') && championshipMatchEditActiveForm.get('t1_id').touched">
                        <option *ngFor="let club of clubs" [value]="club.id">{{club.title}}</option>
                    </select>
                    <div *ngIf="championshipMatchEditActiveForm.get('t1_id').hasError('required') && championshipMatchEditActiveForm.get('t1_id').touched"
                         class="form-control-feedback">
                        <small>Вибір першої команди обов'язковий.</small>
                    </div>
                </div>
                <!-- away club -->
                <div class="form-group"
                     [class.has-danger]="championshipMatchEditActiveForm.get('t2_id').hasError('required') && championshipMatchEditActiveForm.get('t2_id').touched">
                    <label class="form-control-label" for="t2_id"><strong>Гості:</strong></label>
                    <select id="t2_id"
                            class="form-control"
                            formControlName="t2_id"
                            [class.form-control-danger]="championshipMatchEditActiveForm.get('t2_id').hasError('required') && championshipMatchEditActiveForm.get('t2_id').touched">
                        <option *ngFor="let club of clubs" [value]="club.id">{{club.title}}</option>
                    </select>
                    <div *ngIf="championshipMatchEditActiveForm.get('t2_id').hasError('required') && championshipMatchEditActiveForm.get('t2_id').touched"
                         class="form-control-feedback">
                        <small>Вибір другої команди обов'язковий.</small>
                    </div>
                </div>
                <!-- starts at -->
                <div class="form-group"
                     [class.has-danger]="championshipMatchEditActiveForm.get('starts_at').hasError('required') && championshipMatchEditActiveForm.get('starts_at').touched">
                    <label class="form-control-label" for="starts_at"><strong>Час початку мату:</strong></label>
                    <input type="text"
                           id="starts_at"
                           placeholder="Введіть час початку матчу"
                           class="form-control"
                           formControlName="starts_at"
                           [class.form-control-danger]="championshipMatchEditActiveForm.get('starts_at').hasError('required') && championshipMatchEditActiveForm.get('starts_at').touched">
                    <div *ngIf="championshipMatchEditActiveForm.get('starts_at').hasError('required') && championshipMatchEditActiveForm.get('starts_at').touched"
                         class="form-control-feedback">
                        <small>Вибір часу початку матчу обов'язковий.</small>
                    </div>
                </div>
                <!-- submit -->
                <button [hidden]="spinnerButton" [disabled]="championshipMatchEditActiveForm.invalid || !selectedMatch" [hidden]="spinner" type="submit" class="btn btn-primary">
                    Змінити
                </button>
                <!-- spinner button -->
                <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
            </form>
        </div>
    </div>
</div>
