<h2 [hidden]="!teamParticipants || !teamTeamMatches">Воротар: </h2>
<!-- spinner team-team matches -->
<app-spinner *ngIf="spinnerTeamTeamMatches" [height]="255"></app-spinner>
<!-- error team-team matches -->
<app-error *ngIf="errorTeamTeamMatches" [message]="errorTeamTeamMatches"></app-error>
<!-- round goalkeeper -->
<div *ngIf="teamParticipants && teamTeamMatches" class="card black-shadow">
    <form #teamGoalkeeperForm="ngForm" novalidate class="p-2">
        <div class="form-group"
             [class.has-danger]="goalkeeper_id.errors?.required && goalkeeper_id.touched">
            <label class="form-control-label" for="goalkeeper_id"><strong>Воротар:</strong></label>
            <select name="goalkeeper_id"
                    id="goalkeeper_id"
                    class="form-control"
                    [class.form-control-danger]="goalkeeper_id.errors?.required && goalkeeper_id.touched"
                    [ngModel]="goalkeeperId ? goalkeeperId : ''"
                    [disabled]="!isCaptain || (teamTeamMatch && teamTeamMatch.ended) || !teamTeamMatch"
                    #goalkeeper_id="ngModel"
                    required>
                <option [value]="''" selected>Не вибрано</option>
                <option *ngFor="let teamParticipant of teamParticipants"
                        [value]="teamParticipant.user_id">
                    {{teamParticipant.user.name}}
                </option>
            </select>
            <div *ngIf="goalkeeper_id.errors?.required && goalkeeper_id.touched" class="form-control-feedback">
                <small>Вибір воротаря обов'язковий.</small>
            </div>
            <div [hidden]="!goalkeeperId" class="alert alert-info mt-2" role="alert">
                При зміні воротаря заблоковані ним матчі поточного туру розблокуються.
            </div>
        </div>
        <div class="text-center">
            <button *ngIf="isCaptain && teamTeamMatch && !teamTeamMatch.ended"
                    class="btn btn-primary"
                    [ngClass]="{'btn-outline-primary': goalkeeperId, 'btn-primary': !goalkeeperId}"
                    [hidden]="spinnerButtonGoalkeeper"
                    [disabled]="teamGoalkeeperForm.invalid"
                    (click)="setTeamTeamMatchGoalkeeper(teamGoalkeeperForm)">
                <i [hidden]="goalkeeperId" class="fa fa-check-circle-o" aria-hidden="true"></i>
                <i [hidden]="!goalkeeperId" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                {{goalkeeperId ? 'Змінити' : 'Підтвердити'}}
            </button>
            <button *ngIf="!isCaptain || (teamTeamMatch && teamTeamMatch.ended) || !teamTeamMatch"
                    class="btn btn-outline-secondary"
                    disabled>
                <i class="fa fa-ban" aria-hidden="true"></i> Заборонено
            </button>
            <app-spinner-button [hidden]="!spinnerButtonGoalkeeper"></app-spinner-button>
        </div>
    </form>
</div>
<h2 [hidden]="!teamMatches || !teamParticipants">Стратегія: </h2>
<!-- spinners -->
<app-spinner *ngIf="spinnerTeamParticipants || spinnerTeamMatches" [height]="255"></app-spinner>
<!-- error matches-->
<app-error *ngIf="errorTeamMatches" [message]="errorTeamMatches"></app-error>
<!-- error participants -->
<app-error *ngIf="errorTeamParticipants" [message]="errorTeamParticipants"></app-error>
<!-- team strategy -->
<div *ngIf="teamMatches && teamParticipants" class="card black-shadow">
    <table class="table table-sm">
        <thead>
            <tr>
                <th class="text-center" title="Номер матчу в турі">#</th>
                <th title="Матч для прогнозування">Матч</th>
                <th class="text-center" title="Прогнозист">Прогнозист</th>
                <th class="text-center" title="Вибрати учасника команди">Дія</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let teamMatch of teamMatches"
                [ngClass]="{'table-active': matchHasPrediction(teamMatch) && teamMatch.team_predictions[0].user_id === authenticatedUser.id}">
                <th class="text-center align-middle">{{teamMatch.id}}.</th>
                <td>
                    <table class="table table-bordered table-sm mb-0">
                        <tr><td>{{teamMatch.club_first.title}} - {{ teamMatch.club_second.title}}</td></tr>
                        <tr><td><small class="text-muted">{{teamMatch.starts_at}}</small></td></tr>
                    </table>
                </td>
                <td class="align-middle text-center">
                    <form [hidden]="!isCaptain || !teamMatch.is_predictable" #teamPredictorForm="ngForm" novalidate>
                        <div class="form-group mb-0">
                            <select name="user_id"
                                    class="form-control"
                                    [ngModel]="matchHasPrediction(teamMatch) ? teamMatch.team_predictions[0].user_id : ''"
                                    #user_id="ngModel">
                                <option [value]="''" selected>Не вибрано</option>
                                <option *ngFor="let teamParticipant of teamParticipants"
                                        [value]="teamParticipant.user_id"
                                        [attr.selected]="matchHasPrediction(teamMatch) && teamMatch.team_predictions[0].user_id === teamParticipant.user_id"
                                        [disabled]="availableTeamParticipants[teamParticipant.user_id] && !availableTeamParticipants[teamParticipant.user_id].participantAvailable">
                                    {{teamParticipant.user.name}}
                                </option>
                            </select>
                        </div>
                    </form>
                    <div *ngIf="!isCaptain || !teamMatch.is_predictable">
                        <strong>{{ matchHasPrediction(teamMatch) ? teamMatch.team_predictions[0].user.name : '-'}}</strong>
                    </div>
                </td>
                <td class="align-middle text-center">
                    <button *ngIf="isCaptain && teamMatch.is_predictable"
                            class="btn"
                            [ngClass]="{'btn-outline-primary': matchHasPrediction(teamMatch),
                                        'btn-primary': !matchHasPrediction(teamMatch)}"
                            [hidden]="spinnerButton['team_match_' + teamMatch.id]"
                            (click)="updateOrCreateTeamPredictor(teamPredictorForm, teamMatch)">
                        <i [hidden]="matchHasPrediction(teamMatch)" class="fa fa-check-circle-o" aria-hidden="true"></i>
                        <i [hidden]="!matchHasPrediction(teamMatch)" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        {{matchHasPrediction(teamMatch) ? 'Змінити' : 'Підтвердити'}}
                    </button>
                    <button *ngIf="!isCaptain || !teamMatch.is_predictable"
                            class="btn btn-outline-secondary"
                            disabled>
                        <i class="fa fa-ban" aria-hidden="true"></i> Заборонено
                    </button>
                    <app-spinner-button [hidden]="!spinnerButton['team_match_' + teamMatch.id]"></app-spinner-button>
                </td>
            </tr>
            <tr>
               <td colspan="4">
                   <div class="alert alert-info" role="alert">
                       При зміні прогнозиста зроблений ним прогноз буде очищено.
                   </div>
               </td>
            </tr>
        </tbody>
    </table>
</div>
