<div class="card cursor-pointer"
     data-toggle="collapse"
     [attr.data-target]="'#collapseTeamTeamMatch' + teamTeamMatch.id"
     aria-expanded="false"
     [attr.aria-controls]="'collapseTeamTeamMatch' + teamTeamMatch.id"
     (click)="getTeamTeamMatchData(teamTeamMatch)">
    <div class="card-block">
        <div class="row" title="Натисніть для більш детальної інформації">
            <div class="col-5 text-right">
                <strong>{{teamTeamMatch.home_team.name}}</strong>
                <img class="small-image rounded"
                     src="{{teamsImagesUrl}}{{teamTeamMatch.home_team.image || teamImageDefault}}"
                     alt="{{teamTeamMatch.home_team.name}}">
            </div>
            <div class="col-2 text-center">
                <strong>{{teamTeamMatch.home}} : {{teamTeamMatch.away}}</strong>
            </div>
            <div class="col-5 text-left">
                <img class="small-image rounded"
                     src="{{teamsImagesUrl}}{{teamTeamMatch.away_team.image || teamImageDefault}}"
                     alt="{{teamTeamMatch.away_team.name}}">
                <strong>{{teamTeamMatch.away_team.name}}</strong>
            </div>
        </div>
        <div class="collapse pt-2" [attr.id]="'collapseTeamTeamMatch' + teamTeamMatch.id">
            <!-- spinner -->
            <app-spinner *ngIf="spinnerTeamMatches" [height]="450"></app-spinner>
            <!-- error -->
            <app-error *ngIf="errorTeamMatches" [message]="errorTeamMatches"></app-error>
            <!-- no team matches -->
            <app-info *ngIf="!spinnerTeamMatches && !errorTeamMatches && !teamMatches" [message]="noTeamMatches"></app-info>
            <div class="row">
                <div *ngIf="teamMatches" class="col-12">
                    <table class="table table-sm table-bordered mb-0 table-striped">
                        <thead>
                            <tr>
                                <th class="text-muted text-center" title="Прогноз першої команди"><small>Прогноз</small></th>
                                <th class="text-muted text-center" title="Прогнозист першої команди"><small>Гравець</small></th>
                                <th class="text-muted text-right" title="Господарі"><small>Господарі</small></th>
                                <th class="text-muted text-center" title="Результат матчу"><small>Результат</small></th>
                                <th class="text-muted text-left" title="Гості"><small>Гості</small></th>
                                <th class="text-muted text-center" title="Прогнозист другої команди"><small>Гравець</small></th>
                                <th class="text-muted text-center" title="Прогноз другої комади"><small>Прогноз</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let teamMatch of teamMatches">
                                <td class="align-middle text-center"
                                    [ngClass]="{'bg-success': isTeamMatchGuessed(teamMatch, teamTeamMatch.home_team_id)
                                                              && !isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id),
                                                'bg-danger': isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id)}">
                                    {{getPredictionDetails(teamMatch, teamTeamMatch.home_team_id).prediction}}
                                </td>
                                <td class="align-middle text-center"
                                    [ngClass]="{'bg-success': isTeamMatchGuessed(teamMatch, teamTeamMatch.home_team_id)
                                                              && !isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id),
                                                'bg-danger': isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id)}">
                                    {{getPredictionDetails(teamMatch, teamTeamMatch.home_team_id).name}}
                                </td>
                                <td class="align-middle text-right">{{teamMatch.club_first.title}}</td>
                                <td class="align-middle text-center">
                                    <strong>{{helperService.showScore(teamMatch.home, teamMatch.away, '-')}}</strong>
                                </td>
                                <td class="align-middle text-left">{{teamMatch.club_second.title}}</td>
                                <td class="align-middle text-center"
                                    [ngClass]="{'bg-success': isTeamMatchGuessed(teamMatch, teamTeamMatch.away_team_id)
                                                              && !isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id),
                                                'bg-danger': isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id)}">
                                    {{getPredictionDetails(teamMatch, teamTeamMatch.away_team_id).name}}
                                </td>
                                <td class="align-middle text-center"
                                    [ngClass]="{'bg-success': isTeamMatchGuessed(teamMatch, teamTeamMatch.away_team_id)
                                                              && !isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id),
                                                'bg-danger': isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id)}">
                                    {{getPredictionDetails(teamMatch, teamTeamMatch.away_team_id).prediction}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>