<div class="card cursor-pointer list-group-item-action"
     data-toggle="collapse"
     [attr.data-target]="'#collapseTeamTeamMatch' + teamTeamMatch.id"
     aria-expanded="false"
     [attr.aria-controls]="'collapseTeamTeamMatch' + teamTeamMatch.id">
    <div class="card-block">
        <div class="row" title="Натисніть для більш детальної інформації">
            <div class="col-4 col-sm-5 text-right">
                <strong class="hidden-xs-down">{{teamTeamMatch.home_team.name}}</strong>
                <small class="hidden-sm-up">{{teamTeamMatch.home_team.name}}</small>
                <img class="small-image rounded hidden-xs-down ml-1"
                     src="{{teamsImagesUrl}}{{teamTeamMatch.home_team.image || teamImageDefault}}"
                     alt="{{teamTeamMatch.home_team.name}}">
            </div>
            <div class="col-4 col-sm-2 text-center">
                <strong>{{helperService.showScore(teamTeamMatch.home, teamTeamMatch.away, 'vs')}}</strong>
                <br class="hidden-sm-up">
                <i [hidden]="expandedTeamMatch" class="fa fa-chevron-down fa-lg text-primary hidden-sm-up"></i>
                <i [hidden]="!expandedTeamMatch" class="fa fa-chevron-up fa-lg text-primary hidden-sm-up"></i>
            </div>
            <div class="col-4 col-sm-5 text-left">
                <img class="small-image rounded hidden-xs-down mr-1"
                     src="{{teamsImagesUrl}}{{teamTeamMatch.away_team.image || teamImageDefault}}"
                     alt="{{teamTeamMatch.away_team.name}}">
                <small class="hidden-sm-up">{{teamTeamMatch.away_team.name}}</small>
                <strong class="hidden-xs-down">{{teamTeamMatch.away_team.name}}</strong>
                <i [hidden]="expandedTeamMatch" class="pull-right fa fa-chevron-down fa-lg text-primary hidden-xs-down"></i>
                <i [hidden]="!expandedTeamMatch" class="pull-right fa fa-chevron-up fa-lg text-primary hidden-xs-down"></i>
            </div>
        </div>
    </div>
</div>
<div class="collapse mt-1" [attr.id]="'collapseTeamTeamMatch' + teamTeamMatch.id">
    <!-- spinner -->
    <app-spinner *ngIf="spinnerTeamMatches" [height]="450"></app-spinner>
    <!-- error -->
    <app-error *ngIf="errorTeamMatches" [message]="errorTeamMatches"></app-error>
    <!-- no team matches -->
    <app-info *ngIf="!spinnerTeamMatches && !errorTeamMatches && !teamMatches" [message]="noTeamMatches"></app-info>
    <div class="row">
        <div *ngIf="teamMatches" class="col-12">
            <!-- team-team match details -->
            <table class="table table-sm table-bordered bg-white mb-1">
                <tr>
                    <td class="text-center align-middle">
                        {{teamTeamMatch.home_points ? teamTeamMatch.home_points : 0}} / {{teamTeamMatch.home_dc_sum ? teamTeamMatch.home_dc_sum : '0.000'}}
                    </td>
                    <td class="text-center text-muted"><small>Очки / <abbr title="Коефіцієнт складноті">КС</abbr> за схемою чемпіонату</small></td>
                    <td class="text-center align-middle">
                        {{teamTeamMatch.away_points ? teamTeamMatch.away_points : 0}} / {{teamTeamMatch.away_dc_sum ? teamTeamMatch.away_dc_sum : '0.000'}}
                    </td>
                </tr>
                <tr>
                    <td class="text-center"
                        [ngClass]="{'font-weight-bold': teamTeamMatch.home_team_goalkeeper_id}">
                        <img *ngIf="teamTeamMatch.home_team_goalkeeper_id"
                             class="small-image rounded-circle hidden-md-down"
                             src="{{userImagesUrl}}{{teamTeamMatch.home_team_goalkeeper.image || userImageDefault}}"
                             alt="{{teamTeamMatch.home_team_goalkeeper.name}}">
                        {{teamTeamMatch.home_team_goalkeeper_id ? teamTeamMatch.home_team_goalkeeper.name : '-'}}
                    </td>
                    <td class="text-center text-muted align-middle"><small>Воротар</small></td>
                    <td class="text-center"
                        [ngClass]="{'font-weight-bold': teamTeamMatch.home_team_goalkeeper_id}">
                        {{teamTeamMatch.away_team_goalkeeper_id ? teamTeamMatch.away_team_goalkeeper.name : '-'}}
                        <img *ngIf="teamTeamMatch.away_team_goalkeeper_id"
                             class="small-image rounded-circle hidden-md-down"
                             src="{{userImagesUrl}}{{teamTeamMatch.away_team_goalkeeper.image || userImageDefault}}"
                             alt="{{teamTeamMatch.away_team_goalkeeper.name}}">
                    </td>
                </tr>
            </table>
            <table class="table table-sm table-bordered table-striped table-hover bg-white mb-1">
                <thead>
                    <tr>
                        <th class="text-muted text-center" title="Прогноз першої команди">
                            <small class="hidden-xs-down">Прогноз</small>
                            <small class="hidden-sm-up">П.</small>
                        </th>
                        <th class="text-muted text-center" title="Прогнозист першої команди">
                            <small class="hidden-xs-down">Гравець</small>
                            <small class="hidden-sm-up">Г.</small>
                        </th>
                        <th class="text-muted text-right" title="Господарі">
                            <small class="hidden-md-down">Господарі</small>
                            <i class="fa fa-home hidden-lg-up pr-1" aria-hidden="true"></i>
                        </th>
                        <th class="text-muted text-center" title="Результат матчу">
                            <small class="hidden-md-down hidden-xl-up">Р.</small>
                            <small class="hidden-lg-down">Результат</small>
                            <i class="fa fa-soccer-ball-o hidden-lg-up" aria-hidden="true"></i>
                        </th>
                        <th class="text-muted text-left" title="Гості">
                            <small class="hidden-md-down">Гості</small>
                            <i class="fa fa-plane hidden-lg-up pl-1" aria-hidden="true"></i>
                        </th>
                        <th class="text-muted text-center" title="Прогнозист другої команди">
                            <small class="hidden-xs-down">Гравець</small>
                            <small class="hidden-sm-up">Г.</small>
                        </th>
                        <th class="text-muted text-center" title="Прогноз другої комади">
                            <small class="hidden-xs-down">Прогноз</small>
                            <small class="hidden-sm-up">П.</small>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let teamMatch of teamMatches">
                        <td class="align-middle text-center"
                            title="Прогноз зроблено {{getPredictionDetails(teamMatch, teamTeamMatch.home_team_id).predicted_at}}"
                            [ngClass]="{'bg-success': helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.home_team_id)
                                                              && !helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id),
                                                'bg-danger': helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id),
                                                'text-white': helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id)
                                                              || helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.home_team_id)}">
                            <span class="hidden-xs-down">{{getPredictionDetails(teamMatch, teamTeamMatch.home_team_id).prediction}}</span>
                            <small class="hidden-sm-up">{{getPredictionDetails(teamMatch, teamTeamMatch.home_team_id).prediction}}</small>
                        </td>
                        <td class="align-middle text-center"
                            title="Прогноз зроблено {{getPredictionDetails(teamMatch, teamTeamMatch.home_team_id).predicted_at}}"
                            [ngClass]="{'bg-success': helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.home_team_id)
                                                              && !helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id),
                                                'bg-danger': helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id),
                                                'text-white': helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id)
                                                              || helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.home_team_id)}">
                            <span class="hidden-xs-down">{{getPredictionDetails(teamMatch, teamTeamMatch.home_team_id).name}}</span>
                            <small class="hidden-sm-up">{{getPredictionDetails(teamMatch, teamTeamMatch.home_team_id).name}}</small>
                        </td>
                        <td class="align-middle text-right">
                                    <span *ngIf="helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.home_team_id) && !helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id)"
                                          class="pull-left text-success hidden-md-down">
                                        <i class="fa fa-lg fa-check-circle-o" aria-hidden="true"></i>
                                    </span>
                            <span *ngIf="!helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.home_team_id) && helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id)"
                                  class="pull-left text-danger hidden-md-down"
                                  title="">
                                        <i class="fa fa-lg fa-lock" aria-hidden="true"></i>
                                    </span>
                            <span *ngIf="helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.home_team_id) && helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.home_team_id)"
                                  class="pull-left hidden-md-down">
                                        <span class="fa-stack">
                                              <i class="fa fa-check-circle fa-stack-1x text-success"></i>
                                              <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                        </span>
                                    </span>
                            <small class="hidden-md-down hidden-xl-up">{{teamMatch.club_first.title}}</small>
                            <span class="hidden-lg-down">{{teamMatch.club_first.title}}</span>
                            <img class="small-image" src="{{clubsImagesUrl}}{{teamMatch.club_first.image}}" alt="{{teamMatch.club_first.title}}"
                                 title="{{teamMatch.club_first.title}}">
                        </td>
                        <td class="align-middle text-center">
                            <strong>{{helperService.showScore(teamMatch.home, teamMatch.away, 'vs')}}</strong>
                        </td>
                        <td class="align-middle text-left">
                            <img class="small-image" src="{{clubsImagesUrl}}{{teamMatch.club_second.image}}" alt="{{teamMatch.club_second.title}}"
                                 title="{{teamMatch.club_second.title}}">
                            <small class="hidden-md-down hidden-xl-up">{{teamMatch.club_second.title}}</small>
                            <span class="hidden-lg-down">{{teamMatch.club_second.title}}</span>
                            <span *ngIf="helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.away_team_id) && !helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id)"
                                  class="pull-right text-success hidden-md-down">
                                        <i class="fa fa-lg fa-check-circle-o" aria-hidden="true"></i>
                                    </span>
                            <span *ngIf="!helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.away_team_id) && helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id)"
                                  class="pull-right text-danger hidden-md-down">
                                        <i class="fa fa-lg fa-lock" aria-hidden="true"></i>
                                    </span>
                            <span *ngIf="helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.away_team_id) && helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id)"
                                  class="pull-right hidden-md-down">
                                        <span class="fa-stack">
                                              <i class="fa fa-check-circle fa-stack-1x text-success"></i>
                                              <i class="fa fa-ban fa-stack-2x text-danger"></i>
                                        </span>
                                    </span>
                        </td>
                        <td class="align-middle text-center"
                            title="Прогноз зроблено {{getPredictionDetails(teamMatch, teamTeamMatch.away_team_id).predicted_at}}"
                            [ngClass]="{'bg-success': helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.away_team_id)
                                                              && !helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id),
                                                'bg-danger': helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id),
                                                'text-white': helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id)
                                                              || helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.away_team_id)}">
                            <span class="hidden-xs-down">{{getPredictionDetails(teamMatch, teamTeamMatch.away_team_id).name}}</span>
                            <small class="hidden-sm-up">{{getPredictionDetails(teamMatch, teamTeamMatch.away_team_id).name}}</small>
                        </td>
                        <td class="align-middle text-center"
                            title="Прогноз зроблено {{getPredictionDetails(teamMatch, teamTeamMatch.away_team_id).predicted_at}}"
                            [ngClass]="{'bg-success': helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.away_team_id)
                                                              && !helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id),
                                                'bg-danger': helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id),
                                                'text-white': helperService.isTeamMatchBlocked(teamMatch, teamTeamMatch.away_team_id)
                                                              || helperService.isTeamMatchGuessed(teamMatch, teamTeamMatch.away_team_id)}">
                            <span class="hidden-xs-down">{{getPredictionDetails(teamMatch, teamTeamMatch.away_team_id).prediction}}</span>
                            <small class="hidden-sm-up">{{getPredictionDetails(teamMatch, teamTeamMatch.away_team_id).prediction}}</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>