<div class="container">
    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <button [hidden]="spinner" (click)="onSubmit()" type="button" class="btn btn-lg btn-outline-primary">Розпочати новий чемпіонат</button>
            <app-spinner-button [hidden]="!spinner"></app-spinner-button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 margin-top-10">
            <div *ngIf="success" class="alert alert-success" role="alert">
                <strong>Успішно!</strong> {{success.title}} розпочато.
            </div>
            <div *ngIf="error" class="alert alert-danger" role="alert">
                <strong>Помилка!</strong> {{error}}
            </div>
        </div>
    </div>
</div>

