<h2>Приймаються прогнози на наступні матчі: </h2>
<app-spinner *ngIf="spinner" [height]="200"></app-spinner>
<!--if user is authenticated-->
<form *ngIf="matches && authenticatedUser" novalidate [formGroup]="championshipPredictsForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
        <div *ngFor="let match of matches" class="row predict-match-row">
            <div class="hidden-sm-down col-md-2 vcenter">
                <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_first.image}}" alt="{{match.club_first.title}}">
            </div><!--
            --><div class="col-xs-12 col-md-8 predict-match-center-col vcenter">
                <div>
                    <div class="row">
                        <div class="col-xs-12 text-xs-center text-muted">
                            {{ match.starts_at }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-3 col-lg-4 text-xs-center text-white">
                            <strong><label for="{{match.id + '_home'}}">{{ match.club_first.title }}</label></strong>
                        </div>
                        <div class="col-xs-4 col-md-6 col-lg-4 text-xs-center text-white">
                            <input id="{{match.id + '_home'}}"
                                   type="number"
                                   min="0"
                                   max="9"
                                   class="predict-input"
                                   formControlName="{{match.id + '_home'}}"><strong>:</strong><!--
                            --><input id="{{match.id + '_away'}}"
                                   type="number"
                                   min="0"
                                   max="9"
                                   class="predict-input"
                                   formControlName="{{match.id + '_away'}}">
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-4 text-xs-center text-white">
                            <strong><label for="{{match.id + '_away'}}">{{ match.club_second.title }}</label></strong>
                        </div>
                    </div>
                </div>
            </div><!--
            --><div class="hidden-sm-down col-md-2 vcenter">
                <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_second.image}}" alt="{{match.club_second.title}}">
            </div>
        </div>
        <div class="row" *ngIf="matches.length">
            <div class="col-xs-12 text-xs-center">
                <button [hidden]="spinnerButton" class="btn btn-outline-primary">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Зробити прогнози
                </button>
                <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
            </div>
        </div>
        <div class="row" *ngIf="!matches.length">
            <div class="col-xs-12">
                <div class="alert alert-info" role="alert">
                    Доступних для прогнозування матчів немає.
                </div>
            </div>
        </div>
    </div>
</form>
<!--if user is NOT authenticated-->
<div *ngIf="matches && !authenticatedUser" class="container-fluid">
    <div *ngFor="let match of matches" class="row predict-match-row">
        <div class="hidden-sm-down col-md-2 vcenter">
            <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_first.image}}" alt="{{match.club_first.title}}">
        </div><!--
        --><div class="col-xs-12 col-md-8 predict-match-center-col vcenter">
        <div>
            <div class="row">
                <div class="col-xs-12 text-xs-center text-muted">
                    {{ match.starts_at }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 text-xs-center text-white">
                    <strong>{{ match.club_first.title }}</strong>
                </div>
                <div class="col-xs-2 text-xs-center text-white">
                    vs
                </div>
                <div class="col-xs-5 text-xs-center text-white">
                    <strong>{{ match.club_second.title }}</strong>
                </div>
            </div>
        </div>
    </div><!--
        --><div class="hidden-sm-down col-md-2 vcenter">
        <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_second.image}}" alt="{{match.club_second.title}}">
    </div>
    </div>
</div>
<div *ngIf="error">
    <div class="col-xs-12">
        <div class="alert alert-danger" role="alert">
            <strong>{{error}}</strong>
        </div>
    </div>
</div>
