<!-- TODAY MATCHES -->
<h2 *ngIf="matches">Найближчі матчі: </h2>
<!-- tomorrow and today navigation -->
<ul *ngIf="matches" class="nav nav-tabs mb-2" role="tablist">
    <li *ngIf="matchesToday" class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" role="tab" (click)="getMatches('today')">Сьогодні</a>
    </li>
    <li *ngIf="matchesTomorrow" class="nav-item">
        <a class="nav-link" [ngClass]="{ active: (matchesTomorrow && !matchesToday) }" data-toggle="tab" href="#profile" role="tab" (click)="getMatches('tomorrow')">Завтра</a>
    </li>
</ul>
<!-- spinner -->
<app-spinner *ngIf="spinnerMatches" [height]="250"></app-spinner>
<!-- error -->
<app-error *ngIf="error" [message]="error"></app-error>
<!-- matches form (if user is authenticated) -->
<form *ngIf="matches && !spinnerMatches && authenticatedUser && !error" novalidate [formGroup]="championshipPredictsTodayForm" (ngSubmit)="onSubmit('today')">
    <div class="container-fluid">
        <!-- one match row -->
        <div *ngFor="let match of matches"
             class="row align-items-center mb-2 p-md-1 rounded bg-white black-shadow black-border cursor-pointer"
             data-toggle="collapse"
             [attr.data-target]="'#collapseMatch' + match.id"
             aria-expanded="true"
             [attr.aria-controls]="'collapseMatch' + match.id"
             (click)="getStatistic(match)">
            <!-- home club logo -->
            <div class="hidden-md-down col-md-2">
                <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_first.image}}" alt="{{match.club_first.title}}" title="{{match.club_first.title}}">
            </div>
            <!-- club names, starts_at, inputs -->
            <div class="col-12 col-md-12 col-lg-8 bg-inverse rounded">
                <div class="row">
                    <div class="col-12 text-center text-white">
                        {{ match.starts_at.slice(0, -3) }}
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4 flex-unordered flex-sm-unordered text-right text-sm-center text-white">
                        <strong><label for="{{match.id + '_home'}}">{{ match.club_first.title }}</label></strong>
                    </div>
                    <div class="col-12 col-sm-4 col-md-6 col-lg-4 flex-last flex-sm-unordered text-center text-white mb-2" (click)="onClick($event)">
                        <input id="{{match.id + '_home'}}"
                               type="number"
                               min="0"
                               max="9"
                               class="predict-input"
                               formControlName="{{match.id + '_home'}}"><strong>:</strong><!--
                --><input id="{{match.id + '_away'}}"
                          type="number"
                          min="0"
                          max="9"
                          class="predict-input"
                          formControlName="{{match.id + '_away'}}">
                    </div>
                    <div class="col-6 col-sm-4 col-md-3 col-lg-4 flex-unordered flex-sm-unordered text-left text-sm-center text-white">
                        <strong><label for="{{match.id + '_away'}}">{{ match.club_second.title }}</label></strong>
                    </div>
                    <!-- expandable statistic -->
                    <div class="collapse col-12 mb-2" id="{{'collapseMatch' + match.id}}">
                        <div class="card text-center">
                            <div class="card-header">
                                Статистика
                            </div>
                            <!-- spinner statistic -->
                            <app-spinner *ngIf="spinnerStatistic['match_' + match.id]" [height]="250"></app-spinner>
                            <!-- error statistic -->
                            <app-error *ngIf="errorStatistic['match_' + match.id]" [message]="error"></app-error>
                            <!-- statistic -->
                            <div *ngIf="statistic['match_' + match.id] && match && !spinnerStatistic['match_' + match.id]" class="card-block bg-white">
                                <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                                    <canvas baseChart
                                            [data]="resultChartData['match_' + match.id]"
                                            [labels]="resultChartLabels['match_' + match.id]"
                                            [chartType]="resultChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- away club logo -->
            <div class="hidden-md-down col-md-2">
                <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_second.image}}" alt="{{match.club_second.title}}" title="{{match.club_second.title}}">
            </div>
        </div>
        <!--button row (only if predictable matches exists)-->
        <div *ngIf="matches.length && !error" class="row">
            <div class="col-12 text-center">
                <!-- add/update predicts button -->
                <button [hidden]="spinnerButton" class="btn btn-primary">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Зробити прогнози
                </button>
                <!-- spinner button -->
                <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
            </div>
        </div>
    </div>
</form>
<!-- match list (if user is not authenticated ) -->
<div *ngIf="matches && !spinnerMatches && !authenticatedUser && !error" class="container-fluid">
    <!-- one match row -->
    <div *ngFor="let match of matches"
         class="row align-items-center mb-2 p-md-1 rounded bg-white black-shadow black-border cursor-pointer"
         data-toggle="collapse"
         [attr.data-target]="'#collapseMatch' + match.id"
         aria-expanded="true"
         [attr.aria-controls]="'collapseMatch' + match.id"
         (click)="getStatistic(match)">
        <!-- home club logo -->
        <div class="hidden-sm-down col-md-2">
            <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_first.image}}" alt="{{match.club_first.title}}" title="{{match.club_first.title}}">
        </div>
        <!-- club names, starts_at -->
        <div class="col-12 col-md-8 bg-inverse rounded">
            <div class="row">
                <div class="col-12 text-center text-white">
                    {{ match.starts_at.slice(0, -3) }}
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-5 text-center text-white">
                    <strong>{{ match.club_first.title }}</strong>
                </div>
                <div class="col-2 text-center text-white">
                    <strong>vs</strong>
                </div>
                <div class="col-5 text-center text-white">
                    <strong>{{ match.club_second.title }}</strong>
                </div>
                <!-- expandable statistic -->
                <div class="collapse col-12 mb-2" id="{{'collapseMatch' + match.id}}">
                    <div class="card text-center">
                        <div class="card-header">
                            Статистика
                        </div>
                        <!-- spinner statistic -->
                        <app-spinner *ngIf="spinnerStatistic['match_' + match.id]" [height]="250"></app-spinner>
                        <!-- error statistic -->
                        <app-error *ngIf="errorStatistic['match_' + match.id]" [message]="error"></app-error>
                        <!-- statistic -->
                        <div *ngIf="statistic['match_' + match.id] && match && !spinnerStatistic['match_' + match.id]" class="card-block bg-white">
                            <div class="col-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
                                <canvas baseChart
                                        [data]="resultChartData['match_' + match.id]"
                                        [labels]="resultChartLabels['match_' + match.id]"
                                        [chartType]="resultChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- away club logo -->
        <div class="hidden-sm-down col-md-2">
            <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_second.image}}" alt="{{match.club_second.title}}" title="{{match.club_second.title}}">
        </div>
    </div>
    <!-- login and registration links -->
    <div *ngIf="matches.length && !error" class="row mb-2">
        <div class="col-12 text-center">
            <div class="btn-group" role="group" aria-label="Signin and signup links">
                <button routerLink="/signin" type="button" class="btn btn-primary">
                    <i class="fa fa fa-sign-in" aria-hidden="true"></i> Вхід
                </button>
                <button routerLink="/signup" type="button" class="btn btn-primary">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Реєстрація
                </button>
            </div>
        </div>
    </div>
</div>
<!-- RATING TOP -->
<div *ngIf="rating && rating.length" class="row align-items-end mt-2">
    <div class="col-12 col-sm-5 col-md-6">
        <h2>Топ-{{rating.length}} рейтингу:
            <button (click)="getTopRating()" title="Оновити" class="btn btn-sm btn-outline-secondary cursor-pointer">
                <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
            </button>
        </h2>
    </div>
    <div class="col-12 col-sm-7 col-md-6 text-right">
        <small class="text-muted">Рейтинг оновлено {{rating[0].updated_at}}</small>
    </div>
</div>
<!-- spinner -->
<app-spinner *ngIf="spinnerRating" [height]="225"></app-spinner>
<!-- error -->
<app-error *ngIf="errorRating" [message]="error"></app-error>
<!-- rating table -->
<table *ngIf="rating && rating.length && !spinnerRating" class="table table-striped table-bordered table-hover table-sm black-shadow black-border">
    <thead class="thead-inverse">
    <tr>
        <th class="text-center" title="Позиція">#</th>
        <th title="Переміщення в рейтингу"></th>
        <th class="text-left" title="Ім'я гравця">Ім'я</th>
        <th class="text-center hidden-xs-down" title="2 очки">x2</th>
        <th class="text-center" title="3 очки">x3</th>
        <th class="text-center" title="Очки">
            <span class="hidden-sm-up">О</span>
            <span class="hidden-xs-down">Очки</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ratingItem of rating" routerLink="/championship/users/{{ratingItem.user.id}}" class="cursor-pointer">
        <th scope="row" class="text-center">{{ratingItem.position}}.</th>
        <!-- no moving -->
        <td *ngIf="!ratingItem.moving" class="text-center text-muted">
            <i class="fa fa-circle-thin" aria-hidden="true"></i>
        </td>
        <!-- up moving -->
        <td *ngIf="ratingItem.moving > 0" class="text-center text-success">
            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            <strong>{{ratingItem.moving}}</strong>
        </td>
        <!-- down moving -->
        <td *ngIf="ratingItem.moving < 0" class="text-center text-danger">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            <strong>{{helperService.makeUnsigned(ratingItem.moving)}}</strong>
        </td>
        <td class="text-left">
            <strong>{{ratingItem.user.name}}</strong>
            <span class="hidden-xs-down">{{helperService.getHometown(ratingItem.user.hometown)}}</span>
        </td>
        <td class="text-center hidden-xs-down">{{ratingItem.x2}}</td>
        <td class="text-center">{{ratingItem.x3}}</td>
        <td class="text-center"><strong>{{ratingItem.points}}</strong></td>
    </tr>
    </tbody>
</table>
<!-- LAST PREDICTIONS -->
<h2 *ngIf="predictions" class="mt-2">Останні прогнози:
    <button (click)="getLastPredictions()" title="Оновити" class="btn btn-sm btn-outline-secondary cursor-pointer">
        <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
    </button>
</h2>
<!-- spinner -->
<app-spinner *ngIf="spinnerPredictions" [height]="250"></app-spinner>
<!-- predictions -->
<div *ngIf="predictions && !spinnerPredictions" class="row">
    <div class="col-12">
        <div class="card black-shadow">
            <ul class="list-group list-group-flush">
                <a *ngFor="let prediction of predictions"
                   routerLink="/championship/users/{{prediction.user.id}}"
                   class="list-group-item list-group-item-action">
                    <div class="col-6">
                        <img class="rounded-circle small-image mr-2 hidden-xs-down"
                             src="{{userImagesUrl}}{{prediction.user.image || userImageDefault}}"
                             alt="{{prediction.user.name}}">
                        <strong>{{prediction.user.name}}</strong> <span class="text-muted hidden-md-down">{{helperService.getHometown(prediction.user.hometown)}}</span>
                    </div>
                    <div class="col-6 text-right">
                        <span>{{prediction.diffForHumans}}</span>
                    </div>
                </a>
            </ul>
        </div>
    </div>
</div>
