<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 bg-inverse text-white dark-form">
            <h1>Відновлення паролю</h1>
            <form novalidate [formGroup]="recoveryForm" (ngSubmit)="onSubmit(recoveryForm)">
                <div class="form-group" [class.has-danger]="recoveryForm.get('email').hasError('required') && recoveryForm.get('email').touched">
                    <label class="form-control-label" for="email">Email:</label>
                    <input type="email"
                           id="email"
                           placeholder="Введіть свій email"
                           class="form-control"
                           [class.form-control-danger]="recoveryForm.get('email').hasError('required') && recoveryForm.get('email').touched"
                           formControlName="email">
                    <div *ngIf="recoveryForm.get('email').hasError('required') && recoveryForm.get('email').touched" class="form-control-feedback">
                        Email обов'язковий.
                    </div>
                </div>
                <button type="submit" [disabled]="recoveryForm.invalid" class="btn btn-primary">Вхід</button>
            </form>
        </div>
    </div>
</div>
