<h2>Матч: </h2>
<!-- spinner -->
<app-spinner *ngIf="spinner" [height]="250"></app-spinner>
<!-- error -->
<app-error *ngIf="error" [message]="error"></app-error>
<!-- match info -->
<div *ngIf="match" class="container-fluid">
    <div class="row align-items-center mb-2 p-md-1 rounded bg-white black-shadow black-border">
        <!-- home club logo -->
        <div class="hidden-sm-down col-md-2">
            <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_first.image}}" alt="{{match.club_first.title}}"
                 title="{{match.club_first.title}}">
        </div>
        <!-- club names, starts_at -->
        <div class="col-12 col-md-8 bg-inverse rounded">
            <div class="row">
                <div class="col-12 text-center text-white">
                    {{ match.starts_at.slice(0, -3) }}
                </div>
            </div>
            <div class="row align-items-center mb-2">
                <div class="col-4 text-center text-white">
                    <strong>{{ match.club_first.title }}</strong>
                </div>
                <div class="col-4 text-center text-white">
                    <strong>{{helperService.showScore(match.home, match.away, 'vs')}}</strong>
                </div>
                <div class="col-4 text-center text-white">
                    <strong>{{ match.club_second.title }}</strong>
                </div>
            </div>
        </div>
        <!-- away club logo -->
        <div class="hidden-sm-down col-md-2">
            <img class="img-fluid" src="{{clubsImagesUrl}}{{match.club_second.image}}" alt="{{match.club_second.title}}"
                 title="{{match.club_second.title}}">
        </div>
    </div>
</div>
<!-- previous/next match -->
<nav *ngIf="match" aria-label="Previous/Next match">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a routerLink="/championship/matches/{{match.id - 1}}" class="page-link" title="Попередній матч">
                <i class="fa fa-chevron-circle-left fa-fw" aria-hidden="true"></i> <span class="hidden-xs-down">Попередній</span>
            </a>
        </li>
        <li class="page-item">
            <a routerLink="/championship/matches/{{match.id + 1}}" class="page-link" title="Наступний матч">
                <span class="hidden-xs-down">Наступний</span> <i class="fa fa-chevron-circle-right fa-fw" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- statistic -->
<h2 *ngIf="statistic && match && match.championship_predicts.length">
    Статистика:
    <button *ngIf="!match.ended" (click)="getStatistic()" title="Оновити" class="btn btn-sm btn-outline-secondary cursor-pointer">
        <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
    </button>
</h2>
<!-- spinner statistic -->
<app-spinner *ngIf="spinnerStatistic" [height]="250"></app-spinner>
<!-- error statistic -->
<app-error *ngIf="errorStatistic" [message]="error"></app-error>
<div *ngIf="statistic && match && match.championship_predicts.length && !spinnerStatistic" class="container-fluid">
    <div class="row mt-2 mb-2 black-border bg-white rounded black-shadow">
        <div class="col-12 offset-md-3 col-md-6 p-2">
            <canvas baseChart
                    [data]="resultChartData"
                    [labels]="resultChartLabels"
                    [chartType]="resultChartType">
            </canvas>
        </div>
        <!--<div class="col-12 col-md-6 black-border p-2">-->
            <!--<canvas baseChart-->
                    <!--[data]="scoresChartData"-->
                    <!--[labels]="scoresChartLabels"-->
                    <!--[chartType]="scoresChartType">-->
            <!--</canvas>-->
        <!--</div>-->
    </div>
</div>
<!-- no content -->
<app-info *ngIf="match && !match.championship_predicts.length" [message]="'Поки що ніхто не зробив прогнози на цей матч'"></app-info>
<!-- user predicts table -->
<table *ngIf="match && match.championship_predicts.length" class="table table-striped table-bordered table-hover table-sm black-shadow black-border">
    <thead class="thead-inverse">
        <tr>
            <th class="text-center">#</th>
            <th class="text-center" title="Ім'я гравця, який зробив прогноз">Ім'я</th>
            <th class="text-center hidden-xs-down" title="Час зробленого прогнозу">Час</th>
            <th class="text-center">Прогноз</th>
            <th class="text-center" title="Очки">О</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let predict of match.championship_predicts; let i = index"
            routerLink="/championship/users/{{predict.user_id}}"
            class="cursor-pointer"
            [ngClass]="{'table-active': authenticatedUser && (predict.user.id === authenticatedUser.id)}">
            <th scope="row" class="text-center">{{i + 1}}.</th>
            <td class="text-left">{{predict.user.name}}</td>
            <td class="text-center hidden-xs-down">{{predict.updated_at}}</td>
            <td class="text-center">
                {{helperService.showScore(predict.home, predict.away, '?')}}
            </td>
            <td class="text-center">
                <strong>
                    {{helperService.isScore(match.home, match.away) ? helperService.getUserPointsOnMatch(match.home, match.away, predict.home, predict.away) : '-'}}
                </strong>
            </td>
        </tr>
    </tbody>
</table>
<!-- previous page button -->
<div *ngIf="error" class="row">
    <div class="col text-center mt-2">
        <a (click)="goBack()" class="btn btn-secondary">Назад</a>
    </div>
</div>