<div class="row mb-2 mt-2 no-gutters blue-shadow">
    <div class="col-3 col-md-3 col-lg-2">
        <div [ngClass]="{'round-nav-disabled text-muted': !previousRound, 'text-primary': previousRound}"
             class="card cursor-pointer full-height list-group-item-action"
             routerLink="{{path}}{{teamTeamMatches[0].round - 1}}"
             title="Попередній тур">
            <div class="card-body text-center">
                <div class="card-title mb-0">
                    <i class="fa fa-lg fa-chevron-circle-left" aria-hidden="true"></i>
                    <span class="d-none d-sm-inline font-weight-bold">{{previousRound ? teamTeamMatches[0].round - 1 : ''}}</span>
                </div>
                <small class="d-none d-sm-block">Попередній</small>
            </div>
        </div>
    </div>
    <div class="col-6 col-md-6 col-lg-8">
        <div class="card full-height">
            <div class="card-body text-center">
                <h4 class="card-title mb-0">Тур {{teamTeamMatches[0].round}}</h4>
                <small [hidden]="teamTeamMatches[0].ended || !teamTeamMatches[0].active" class="text-muted d-none d-sm-block">Активний</small>
                <small [hidden]="teamTeamMatches[0].active || !teamTeamMatches[0].ended" class="text-muted d-none d-sm-block">Завершений</small>
                <small [hidden]="teamTeamMatches[0].active || teamTeamMatches[0].ended" class="text-muted d-none d-sm-block">Не початий</small>
            </div>
        </div>
    </div>
    <div class="col-3 col-md-3 col-lg-2">
        <div [ngClass]="{'round-nav-disabled text-muted': !nextRound, 'text-primary': nextRound}"
             class="card cursor-pointer full-height list-group-item-action"
             routerLink="{{path}}{{teamTeamMatches[0].round + 1}}"
             title="Наступний тур">
            <div class="card-body text-center">
                <div class="card-title mb-0">
                    <span class="d-none d-sm-inline font-weight-bold">{{nextRound ? teamTeamMatches[0].round + 1 : ''}}</span>
                    <i class="fa fa-lg fa-chevron-circle-right" aria-hidden="true"></i>
                </div>
                <small class="d-none d-sm-block">Наступний</small>
            </div>
        </div>
    </div>
</div>