<div class="container">
    <div class="row">
        <div class="col">
            <h2>Керування командним чемпіонатом:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-md-2">
            <button routerLink="/manage" type="button" class="btn btn-outline-primary mb-2 mb-md-0">Назад до меню керування</button>
        </div>
    </div>
    <!-- spinner competition -->
    <app-spinner *ngIf="spinnerCompetition" [height]="255"></app-spinner>
    <!-- error competition -->
    <app-error *ngIf="errorCompetition" [message]="errorCompetition"></app-error>
    <div *ngIf="competition" class="row mb-2">
        <div class="col-6">
            <div class="card p-2">
                <button type="button"
                        class="btn btn-success mb-2 mb-md-0"
                        (click)="startDrawConfirmModalOpen()"
                        data-toggle="modal"
                        data-target="#startDrawConfirmModal">
                    Провести жеребкування календаря
                </button>
                <ul class="list-group">
                    <li class="list-group-item">
                        <small class="text-muted">1. Змінює статус командного чемпіонату з "Відкритий для заявок" в "Активний"</small>
                    </li>
                    <li class="list-group-item">
                        <small class="text-muted">2. Проводить жеребкування календаря матчів</small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-6">
            <div class="card p-2">
                <button type="button"
                        class="btn btn-success mb-2 mb-md-0"
                        (click)="startNextRoundConfirmModalOpen()"
                        data-toggle="modal"
                        data-target="#startNextRoundConfirmModal">
                    Розпочати наступний тур - {{ nextRoundNumber() }}
                </button>
                <ul class="list-group">
                    <li class="list-group-item">
                        <small class="text-muted">1. Завершує матчі поточного раудну</small>
                    </li>
                    <li class="list-group-item">
                        <small class="text-muted">2. Змінює активний раунд змагання</small>
                    </li>
                    <li class="list-group-item">
                        <small class="text-muted">3. Рахує всі рейтинги </small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-pills justify-content-center mb-2 flex-column flex-sm-row">
                <li class="nav-item">
                    <a routerLink="/manage/team/matches/create" routerLinkActive="active" class="nav-link">Добавити матч</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/manage/team/matches/edit/active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Редагувати матч</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a routerLink="/manage/team/matches/edit" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Добавити результат</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                    <!--<a routerLink="/manage/team/matches/edit/ended" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Змінити результат</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<app-confirm-modal [data]="confirmModalData"
                   [modalId]="confirmModalId"
                   [message]="confirmModalMessage"
                   [spinnerButton]="confirmSpinnerButton"
                   (onConfirmed)="confirmModalSubmit($event)">
</app-confirm-modal>