<div class="modal fade" id="teamSelectModal" tabindex="-1" role="dialog" aria-labelledby="teamSelectModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form novalidate [formGroup]="teamSelectForm" (ngSubmit)="onSubmit()" class="p-2">
                <div class="modal-header">
                    <h5 class="modal-title" id="teamSelectModalLabel">Заявити команду з попереднього чемпіонату</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- error -->
                    <app-error *ngIf="errorTeams" [message]="errorTeams"></app-error>
                    <!-- no clubs -->
                    <app-info *ngIf="!teams && !errorTeams" [message]="noTeams"></app-info>
                    <div *ngIf="teams" class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="form-group"
                                     [class.form-group-invalid-custom]="teamSelectForm.get('team_id').invalid && teamSelectForm.get('team_id').touched">
                                    <label class="form-control-label" for="team_id"><strong>Команда:</strong></label>
                                    <select id="team_id"
                                            class="form-control"
                                            formControlName="team_id">
                                        <option [value]="null" selected disabled>Виберіть команду</option>
                                        <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
                                    </select>
                                    <div *ngIf="teamSelectForm.get('team_id').hasError('required') && teamSelectForm.get('team_id').touched">
                                        <small>Вибір команди обов'язковий</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="teamSelectForm.reset()" type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                    <button [disabled]="teamSelectForm.invalid"
                            [hidden]="spinnerButton"
                            type="submit"
                            class="btn btn-primary">Зберегти
                    </button>
                    <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
                </div>
            </form>
        </div>
    </div>
</div>
