<h2>Правила: </h2>
<div class="card black-shadow black-border">
    <div class="card-block">
        <p class="card-text">
            <b>1.</b> Взяти участь у конкурсі може будь-хто. Для цього необхідно зареєструватись і ознайомитися з правилами.
        </p>
        <p class="card-text">
            <b>2.</b> У кожному Чемпіонаті буде запропоновано зробити прогноз на 100 футбольних матчів.
            Для прогнозування вибираються найцікавіші матчі європейських ліг і кубків, а також національних збірних.
        </p>
        <p class="card-text">
            <b>3.</b> Прогнози на матч перестають прийматись з моменту початку матчу (за київським часом).
            Переглянути свої прогнози та прогнози суперників можна в відповідних розділах сайту.
        </p>
        <p class="card-text">
            <b>4.</b> Нарахування очок буде відбуватися за наступною схемою: за повністю вгаданий рахунок матчу ви отримуєте 3 очки,
            якщо ви вгадали різницю забитих і пропущених в ньому м'ячів, то отримуєте 2 очки, якщо ви зпрогнозували тільки команду переможця, то отримуєте 1 очко.
            Приклад:
        </p>
        <table class="table table-bordered table-striped table-sm black-shadow">
            <thead class="thead-inverse">
                <tr>
                    <th>Матч</th>
                    <th class="text-center">Прогноз</th>
                    <th class="text-center">Результат</th>
                    <th class="text-center">Кількість очок</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let match of exampleMatches">
                    <td>{{match.home}} - {{match.away}}</td>
                    <td class="text-center">{{match.predict}}</td>
                    <td class="text-center">{{match.result}}</td>
                    <td class="text-center"><strong>{{match.points}}</strong></td>
                </tr>
            </tbody>
        </table>
        <p class="card-text">
            <b>5.</b> Переможе в чемпіонаті той гравець, який набрав найбільше очок.
            У випадку однакової кількості очок, враховуються наступні показники (в порядку важливості):
        </p>
        <ul>
            <li>кількість повністю вгаданих реультатів ("хет-триків" або "x3")</li>
            <li>кількість матчів з правильною різницею голів ("дублів" або "x2")</li>
            <li>коефіцієнт складності ("Кс")</li>
        </ul>
    </div>
</div>