<div class="row">
    <div class="col">
        <h2>Гостьова:</h2>
    </div>
</div>
<!-- new guestbook messages form-->
<div *ngIf="authenticatedUser && showEditor" class="row">
    <div class="col text-white">
        <div class="bg-inverse mb-sm-2 p-2 rounded black-shadow">
            <label *ngIf="!isEditedMessage"><strong>Добавити повідомлення:</strong></label>
            <label *ngIf="isEditedMessage"><strong>Редагувати повідомлення:</strong></label>
            <app-tiny-editor
                    [elementId]="'body-add'"
                    (onEditorContentChange)="keyupHandler($event)"
                    [content]="editedMessage"
            ></app-tiny-editor>
            <!-- create button -->
            <button *ngIf="!isEditedMessage"
                    [hidden]="spinnerButton"
                    (click)="addMessage()"
                    type="button"
                    class="btn btn-primary">Додати
            </button>
            <!-- update button -->
            <button *ngIf="isEditedMessage"
                    [hidden]="spinnerEditButton"
                    (click)="updateMessage()"
                    type="button"
                    class="btn btn-primary">Змінити
            </button>
            <!-- update button -->
            <button *ngIf="isEditedMessage"
                    [hidden]="spinnerEditButton"
                    (click)="resetGuestbookMessage()"
                    type="button"
                    class="btn btn-danger pull-right">Скасувати
            </button>
            <!-- spinner button -->
            <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
            <!-- spinner button -->
            <app-spinner-button [hidden]="!spinnerEditButton"></app-spinner-button>
        </div>
    </div>
</div>
<!-- spinner -->
<app-spinner *ngIf="spinnerMessages" [height]="250"></app-spinner>
<!-- error -->
<app-error *ngIf="error" [message]="error"></app-error>
<!-- guestbook messages -->
<div *ngIf="guestbookMessages" class="row">
    <div class="col">
        <div *ngFor="let message of guestbookMessages" class="card mb-sm-2 black-shadow" [attr.id]="'message' + message.id">
            <div class="card-header">
                <img class="rounded-circle small-image mr-2"
                     src="{{userImagesUrl}}{{message.user.image || userImageDefault}}"
                     alt="{{message.user.name}}">
                <strong class="align-middle">{{message.user.name}}</strong>
                <small *ngIf="message.user.hometown" class="text-muted">({{message.user.hometown}})</small>
                <!-- Button edit message -->
                <button *ngIf="authenticatedUser && authenticatedUser.id === message.user_id && showEditor"
                        type="button"
                        (click)="addMessageToEditor(message)"
                        class="btn btn-sm btn-outline-secondary pull-right"
                        data-toggle="modal"
                        data-target="#editMessageModal"
                        title="Редагувати">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
            </div>
            <div class="card-block">
                <div class="card-text break-word">
                    <div [innerHtml]="assembleHTMLItem(message.body)"></div>
                </div>
            </div>
            <div class="card-footer pt-1 pb-1">
                <small class="text-muted pull-left">{{message.created_at}}</small>
                <small class="pull-right">
                    <span *ngIf="message.created_at !== message.updated_at" class="badge badge-default">Редаговано</span>
                </small>
            </div>
        </div>
    </div>
</div>
<!-- pagination -->
<app-pagination [totalItems]="total"
                [currentPage]="currentPage"
                [pageSize]="perPage"
                [path]="path">
</app-pagination>