<div class="container">
    <div class="row">
        <div class="col">
            <h2>Редагувати матч:</h2>
        </div>
    </div>
    <!-- error -->
    <app-error *ngIf="errorTeamMatches" [message]="errorTeamMatches"></app-error>
    <!-- select match input -->
    <div class="row">
        <div class="d-none d-lg-block col-lg-2">
            <div *ngIf="selectedMatch" class="rounded bg-dark">
                <img class="img-fluid" src="{{clubsImagesUrl}}{{selectedMatch.club_first.image}}" alt="{{selectedMatch.club_first.title}}">
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-8 text-white">
            <div class="bg-dark p-2 rounded">
                <div class="form-group">
                    <label class="form-control-label" for="active_match"><strong>Виберіть матч:</strong></label>
                    <select id="active_match" class="form-control" (change)="onChange($event.target.value)">
                        <option disabled selected>Виберіть матч</option>
                        <option *ngFor="let teamMatch of teamMatches" [value]="teamMatch.id">
                            ({{teamMatch.starts_at}}) {{teamMatch.club_first.title}} - {{teamMatch.club_second.title}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-2">
            <div *ngIf="selectedMatch" class="rounded bg-dark">
                <img class="img-fluid" src="{{clubsImagesUrl}}{{selectedMatch.club_second.image}}" alt="{{selectedMatch.club_second.title}}">
            </div>
        </div>
    </div>
    <!-- error clubs -->
    <app-error *ngIf="errorClubs" [message]="errorClubs"></app-error>
    <!-- match edit form -->
    <div *ngIf="clubs && selectedMatch != undefined" class="row">
        <div class="col-12 col-md-12 col-lg-8 offset-lg-2 text-white">
            <form novalidate [formGroup]="teamMatchEditActiveForm" (ngSubmit)="onSubmit()" class="bg-dark p-2 rounded">
                <input type="hidden" formControlName="id">
                <!-- home club -->
                <div class="form-group"
                     [class.has-danger]="teamMatchEditActiveForm.get('t1_id').hasError('required') && teamMatchEditActiveForm.get('t1_id').touched">
                    <label class="form-control-label" for="t1_id"><strong>Господарі:</strong></label>
                    <select id="t1_id"
                            class="form-control"
                            formControlName="t1_id"
                            [class.form-control-danger]="teamMatchEditActiveForm.get('t1_id').hasError('required') && teamMatchEditActiveForm.get('t1_id').touched">
                        <option *ngFor="let club of clubs" [value]="club.id">{{club.title}}</option>
                    </select>
                    <div *ngIf="teamMatchEditActiveForm.get('t1_id').hasError('required') && teamMatchEditActiveForm.get('t1_id').touched"
                         class="form-control-feedback">
                        <small>Вибір першої команди обов'язковий.</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-block btn-danger" (click)="resetForm()">
                                <i class="fa fa-trash" aria-hidden="true"></i> Очистити форму
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-block btn-info" (click)="swapClubs()">
                                <i class="fa fa-arrows-v" aria-hidden="true"></i> Поміняти місцями
                            </button>
                        </div>
                    </div>
                </div>
                <!-- away club -->
                <div class="form-group"
                     [class.has-danger]="teamMatchEditActiveForm.get('t2_id').hasError('required') && teamMatchEditActiveForm.get('t2_id').touched">
                    <label class="form-control-label" for="t2_id"><strong>Гості:</strong></label>
                    <select id="t2_id"
                            class="form-control"
                            formControlName="t2_id"
                            [class.form-control-danger]="teamMatchEditActiveForm.get('t2_id').hasError('required') && teamMatchEditActiveForm.get('t2_id').touched">
                        <option *ngFor="let club of clubs" [value]="club.id">{{club.title}}</option>
                    </select>
                    <div *ngIf="teamMatchEditActiveForm.get('t2_id').hasError('required') && teamMatchEditActiveForm.get('t2_id').touched"
                         class="form-control-feedback">
                        <small>Вибір другої команди обов'язковий.</small>
                    </div>
                </div>
                <!-- starts at -->
                <div class="form-group"
                     [class.has-danger]="teamMatchEditActiveForm.get('starts_at').hasError('required') && teamMatchEditActiveForm.get('starts_at').touched">
                    <label class="form-control-label" for="starts_at"><strong>Час початку мату:</strong></label>
                    <input type="text"
                           id="starts_at"
                           placeholder="Введіть час початку матчу"
                           class="form-control"
                           formControlName="starts_at"
                           [class.form-control-danger]="teamMatchEditActiveForm.get('starts_at').hasError('required') && teamMatchEditActiveForm.get('starts_at').touched">
                    <div *ngIf="teamMatchEditActiveForm.get('starts_at').hasError('required') && teamMatchEditActiveForm.get('starts_at').touched"
                         class="form-control-feedback">
                        <small>Вибір часу початку матчу обов'язковий.</small>
                    </div>
                </div>
                <!-- submit -->
                <button [hidden]="spinnerButton" [disabled]="teamMatchEditActiveForm.invalid || !selectedMatch" type="submit" class="btn btn-primary">
                    Змінити
                </button>
                <!-- spinner button -->
                <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
            </form>
        </div>
    </div>
</div>
