<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Керування сезонами:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button routerLink="/manage" type="button" class="btn btn-outline-primary">Назад до меню керування</button>
            <button routerLink="/manage/seasons" type="button" class="btn btn-success">Таблиця сезонів</button>
            <button routerLink="/manage/seasons/create" type="button" class="btn btn-success">Добавити сезон</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>