.active {
    background-color: red;
    color: black;
}
a{
    text-decoration: none;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}
/*header grass image*/
.container-first {
    background-image: url("../img/headerbg.jpg");
    background-size: cover;
    text-align: center;
}
