<div class="container" *ngIf="!user">
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 bg-inverse text-white dark-form">
            <h1>Вхід на сайт</h1>
            <form novalidate [formGroup]="signinForm" (ngSubmit)="onSubmit(signinForm)">

                <div class="form-group"
                     [class.has-danger]="signinForm.get('name').invalid && (signinForm.get('name').touched || !signinForm.get('name').pristine)">
                    <label class="form-control-label" for="name"><strong>Ім'я:</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input type="text"
                               id="name"
                               placeholder="Введіть ім'я"
                               class="form-control"
                               formControlName="name">
                    </div>
                    <div *ngIf="signinForm.get('name').hasError('required') && (signinForm.get('name').touched || !signinForm.get('name').pristine)" class="form-control-feedback">
                        <small>Ім'я обов'язкове.</small>
                    </div>
                    <div *ngIf="signinForm.get('name').hasError('minlength') && !signinForm.get('name').pristine" class="form-control-feedback">
                        <small>Ім'я повинно містити мінімум три символи.</small>
                    </div>
                </div>

                <div class="form-group" [class.has-danger]="signinForm.get('password').invalid && (signinForm.get('password').touched || !signinForm.get('password').pristine)">
                    <label class="form-control-label" for="password"><strong>Пароль:</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                        <input type="password"
                               id="password"
                               placeholder="Введіть пароль"
                               class="form-control"
                               formControlName="password">
                    </div>
                    <div *ngIf="signinForm.get('password').hasError('required') && (signinForm.get('password').touched || !signinForm.get('password').pristine)" class="form-control-feedback">
                        <small>Пароль обов'язковий.</small>
                    </div>
                </div>

                <button [hidden]="spinner" [disabled]="signinForm.invalid" type="submit" class="btn btn-primary" >
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Вхід
                </button>
                <app-spinner-button [hidden]="!spinner"></app-spinner-button>
                <div class="btn-group" role="group">
                    <button [disabled]="spinner" routerLink="/signup" type="button" class="btn btn-outline-secondary">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> Реєстрація
                    </button>
                    <button [disabled]="spinner" routerLink="/recovery" type="button" class="btn btn-outline-secondary">
                        <i class="fa fa-question-circle" aria-hidden="true"></i> Забули пароль
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container" *ngIf="user">
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 bg-inverse text-white dark-form text-xs-center">
            Привіт, <b>{{user.name}}</b>
            <button (click)="logout()" class="btn btn-outline-secondary">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Вихід
            </button>
        </div>
    </div>
</div>