<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Вхід:</h2>
        </div>
    </div>
    <!-- show sign in form if user is not authenticated -->
    <div *ngIf="!user" class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-white">
            <form novalidate [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm)" class="bg-inverse p-2 rounded">
                <!-- name input -->
                <div class="form-group"
                     [class.has-danger]="signInForm.get('name').invalid && (signInForm.get('name').touched || !signInForm.get('name').pristine)">
                    <label class="form-control-label" for="name"><strong>Ім'я:</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input type="text"
                               id="name"
                               placeholder="Введіть ім'я"
                               class="form-control"
                               [class.form-control-danger]="signInForm.get('name').invalid && (signInForm.get('name').touched || !signInForm.get('name').pristine)"
                               formControlName="name">
                    </div>
                    <div *ngIf="signInForm.get('name').hasError('required') && (signInForm.get('name').touched || !signInForm.get('name').pristine)" class="form-control-feedback">
                        <small>Ім'я обов'язкове.</small>
                    </div>
                    <div *ngIf="signInForm.get('name').hasError('minlength') && !signInForm.get('name').pristine" class="form-control-feedback">
                        <small>Ім'я повинно містити мінімум три символи.</small>
                    </div>
                </div>
                <!-- password input -->
                <div class="form-group" [class.has-danger]="signInForm.get('password').invalid && (signInForm.get('password').touched || !signInForm.get('password').pristine)">
                    <label class="form-control-label" for="password"><strong>Пароль:</strong></label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                        <input type="password"
                               id="password"
                               placeholder="Введіть пароль"
                               class="form-control"
                               [class.form-control-danger]="signInForm.get('password').invalid && (signInForm.get('password').touched || !signInForm.get('password').pristine)"
                               formControlName="password">
                    </div>
                    <div *ngIf="signInForm.get('password').hasError('required') && (signInForm.get('password').touched || !signInForm.get('password').pristine)" class="form-control-feedback">
                        <small>Пароль обов'язковий.</small>
                    </div>
                </div>
                <!-- submit button -->
                <button [hidden]="spinner" [disabled]="signInForm.invalid" type="submit" class="btn btn-primary" >
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Вхід
                </button>
                <!-- spinner button -->
                <app-spinner-button [hidden]="!spinner"></app-spinner-button>
                <!-- sign up and recovery buttons -->
                <div class="btn-group" role="group">
                    <button [disabled]="spinner" routerLink="/signup" type="button" class="btn btn-outline-secondary">
                        <i class="fa fa-user-plus" aria-hidden="true"></i> <span class="hidden-sm-down">Реєстрація</span>
                    </button>
                    <button [disabled]="spinner" routerLink="/recovery" type="button" class="btn btn-outline-secondary">
                        <i class="fa fa-question-circle" aria-hidden="true"></i> <span class="hidden-sm-down">Забули пароль</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- show profile and logout buttons if user is authenticated -->
    <div *ngIf="user" class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
            <button routerLink="/me" class="btn btn-primary">
                <i class="fa fa-user-circle" aria-hidden="true"></i> {{user.name}}
            </button>
            <button (click)="logout()" class="btn btn-outline-primary">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Вихід
            </button>
        </div>
    </div>
</div>