<div class="container margin-10">
    <div class="row">
        <div class="col-xs-12">
            <h2>Меню керування:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 margin-10">
            <button routerLink="news" type="button" class="btn btn-outline-primary">
                <i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i><br>
                Керування новинами
            </button>
            <button routerLink="clubs" type="button" class="btn btn-outline-primary">
                <i class="fa fa-shield fa-5x" aria-hidden="true"></i>
                <i class="fa fa-flag-o fa-5x" aria-hidden="true"></i><br>
                Керування командами
            </button>
            <button routerLink="championship" type="button" class="btn btn-outline-primary">
                <i class="fa fa-trophy fa-5x" aria-hidden="true"></i><br>
                Керування чемпіонатом
            </button>
        </div>
    </div>
</div>
