<div class="container">
    <div class="row">
        <div class="col">
            <h2>Меню керування:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-columns">
                <!-- championship -->
                <div class="card">
                    <div class="card-body text-center">
                        <button routerLink="championship" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-trophy fa-4x" aria-hidden="true"></i><br>
                            Чемпіонат
                        </button>
                    </div>
                </div>
                <!-- team -->
                <div class="card">
                    <div class="card-body text-center">
                        <button routerLink="team" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-users fa-4x" aria-hidden="true"></i><br>
                            Командний
                        </button>
                    </div>
                </div>
                <!-- news -->
                <div class="card">
                    <div class="card-body text-center">
                        <button routerLink="news" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-newspaper-o fa-4x" aria-hidden="true"></i><br>
                            Новини
                        </button>
                    </div>
                </div>
                <!-- clubs -->
                <div class="card">
                    <div class="card-body text-center">
                        <button routerLink="clubs" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-shield fa-4x" aria-hidden="true"></i><br>
                            Команди
                        </button>
                    </div>
                </div>
                <!-- seasons -->
                <div class="card">
                    <div class="card-body text-center">
                        <button routerLink="seasons" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-globe fa-4x" aria-hidden="true"></i><br>
                            Сезони
                        </button>
                    </div>
                </div>
                <!-- competitions -->
                <div class="card">
                    <div class="card-body text-center">
                        <button routerLink="competitions" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-star fa-4x" aria-hidden="true"></i><br>
                            Змагання
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
