<div class="container">
    <div class="row">
        <div class="col">
            <h2>Меню керування:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card-columns">
                <!-- news -->
                <div class="card">
                    <div class="card-block text-center">
                        <button routerLink="news" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i><br>
                            Керування новинами
                        </button>
                    </div>
                </div>
                <!-- clubs -->
                <div class="card">
                    <div class="card-block text-center">
                        <button routerLink="clubs" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-shield fa-5x" aria-hidden="true"></i>
                            <i class="fa fa-flag-o fa-5x" aria-hidden="true"></i><br>
                            Керування командами
                        </button>
                    </div>
                </div>
                <!-- championship -->
                <div class="card">
                    <div class="card-block text-center">
                        <button routerLink="championship" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-trophy fa-5x" aria-hidden="true"></i><br>
                            Керування чемпіонатом
                        </button>
                    </div>
                </div>
                <!-- seasons -->
                <div class="card">
                    <div class="card-block text-center">
                        <button routerLink="seasons" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-globe fa-5x" aria-hidden="true"></i><br>
                            Керування сезонами
                        </button>
                    </div>
                </div>
                <!-- competitions -->
                <div class="card">
                    <div class="card-block text-center">
                        <button routerLink="competitions" type="button" class="btn btn-outline-primary">
                            <i class="fa fa-star fa-5x" aria-hidden="true"></i><br>
                            Керування змаганнями
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
