<div class="row">
    <div class="col">
        <div class="alert alert-danger black-shadow" role="alert">
            <strong>Помилка!</strong> {{message}}
            <br>
            <ul *ngIf="additionalInfo">
                <li><small>Можливо ваш браузер закешував стару версію сайту. Натисніть <kbd>Ctrl</kbd> + <kbd>F5</kbd> для перезавантаження сторінки</small></li>
                <li><small>Перевірте правильність введеної адреси. Повинно бути <a href="http://prognoz.org.ua"><b>http</b>://prognoz.org.ua</a> (Не <del>https</del>)</small></li>
                <li><small>Можливо у вас застарілий браузер. Оновіть ваш браузер до останньої версії</small></li>
            </ul>
        </div>
    </div>
</div>