.logo-background {
    background: url("/assets/img/grass_dew.jpg") center center;
    background-size: cover;
    text-align: center;
}
.main-navigation {
    margin-bottom: 10px;
}

.header-input {
    max-width: 142px;
}