<!-- top navbar: form and buttons -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand mr-auto d-none d-md-block" routerLink="/">Prognoz.org.ua</a>
    <!-- authentication form(large screens) -->
    <form *ngIf="!user"
          novalidate
          [formGroup]="headerSignInForm"
          (ngSubmit)="onSubmit()"
          class="form-inline d-none d-lg-block">
        <!-- name -->
        <label class="sr-only" for="header-name">Ім'я</label>
        <input formControlName="name"
               type="text"
               class="form-control header-input"
               id="header-name"
               placeholder="Ім'я">
        <!-- password -->
        <label class="sr-only" for="header-password">Пароль</label>
        <input formControlName="password"
               type="password"
               class="form-control header-input"
               id="header-password"
               placeholder="Пароль">
        <!-- sign up and recovery buttons -->
        <div class="btn-group" role="group" aria-label="header-buttons">
            <!-- sign in button -->
            <button [hidden]="spinnerButton" [disabled]="headerSignInForm.invalid" type="submit" class="btn btn-outline-light">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Вхід
            </button>
            <!-- sign in spinner -->
            <app-spinner-button [hidden]="!spinnerButton"></app-spinner-button>
            <button [disabled]="spinnerButton" routerLink="signup" type="button" class="btn btn-outline-light">
                <i class="fa fa-user-plus" aria-hidden="true"></i> Реєстрація
            </button>
            <button [disabled]="spinnerButton" routerLink="recovery" type="button" class="btn btn-outline-light">
                <i class="fa fa-question-circle" aria-hidden="true"></i> Забули пароль
            </button>
        </div>
    </form>
    <!-- sign in, sign up, recovery buttons(small screens) -->
    <div *ngIf="!user" class="form-inline ml-auto d-lg-none ml-2">
        <div class="btn-group ml-2" role="group" aria-label="header-buttons">
            <button routerLink="/signin" class="btn btn-light">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Вхід
            </button>
            <button routerLink="/signup" class="btn btn-outline-light">
                <i class="fa fa-user-plus" aria-hidden="true"></i> <span class="d-none d-sm-inline">Реєстрація</span>
            </button>
            <button routerLink="/recovery" class="btn btn-outline-light">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <!-- user profile buttons -->
    <div *ngIf="user" class="form-inline ml-auto">
        <div class="btn-group" role="group" aria-label="user buttons">
            <button *ngIf="user" routerLink="/me" class="btn btn-light">
                <i class="fa fa-user-circle" aria-hidden="true"></i> {{user.name}}
            </button>
            <button *ngIf="user.showAdministrationLink" routerLink="/manage" class="btn btn-outline-light">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="d-none d-sm-inline">Керування</span>
            </button>
            <button (click)="logout()" class="btn btn-outline-danger">
                <i class="fa fa-sign-out" aria-hidden="true"></i> <span class="d-none d-sm-inline">Вихід</span>
            </button>
        </div>
    </div>
</nav>
<!-- site logo -->
<div class="container-fluid logo-background">
    <div class="row">
        <div class="col">
            <a routerLink="/">
                <img src="/assets/img/logo.png" class="img-fluid" alt="prognoz.org.ua">
            </a>
        </div>
    </div>
</div>
<!-- main-navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-2">
    <button class="navbar-toggler cursor-pointer" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="main-navigation">
        <ul class="nav navbar-nav">
            <li class="nav-item text-center">
                <strong>
                    <a routerLink="/" routerLinkActive="active" class="nav-link" [routerLinkActiveOptions]="{exact: true}">Головна</a>
                </strong>
            </li>
            <li class="nav-item text-center dropdown">
                <a routerLink="/championship"
                   routerLinkActive="active"
                   class="nav-link">
                    <strong>
                        Чемпіонат
                    </strong>
                </a>
            </li>
            <li class="nav-item text-center">
                <strong>
                    <a routerLink="/team" routerLinkActive="active" class="nav-link">
                        Командний
                    </a>
                </strong>
            </li>
            <li class="nav-item text-center">
                <strong>
                    <a routerLink="/guestbook" routerLinkActive="active" class="nav-link">Гостьова</a>
                </strong>
            </li>
        </ul>
    </div>
</nav>