<div class="container">
    <div class="row">
        <div class="col">
            <h2>Керування новинами:</h2>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <button routerLink="/manage" type="button" class="btn btn-outline-primary">Назад до меню керування</button>
            <button routerLink="/manage/news" type="button" class="btn btn-success">Таблиця новин</button>
            <button routerLink="/manage/news/create" type="button" class="btn btn-success">Створити новину</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>