<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-9 col-xl-9">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Гостьова:</h2>
                </div>
            </div>
            <div *ngIf="authenticatedUser" class="row">
                <div class="col-xs-12">
                    <form novalidate [formGroup]="guestbookAddMessageForm" (ngSubmit)="onSubmit(guestbookAddMessageForm)" class="bg-inverse text-white dark-form">
                        <input type="hidden" name="user_id" formControlName="user_id">
                        <div class="form-group" [class.has-danger]="(guestbookAddMessageForm.get('body').hasError('required')
                                                                    || guestbookAddMessageForm.get('body').hasError('minlength')
                                                                    || guestbookAddMessageForm.get('body').hasError('maxlength'))
                                                                    && guestbookAddMessageForm.get('body').touched">
                            <label class="form-control-label" for="body">Добавити повідомлення:</label>
                            <textarea id="body"
                                      placeholder="Напишіть щось..."
                                      class="form-control"
                                      [class.form-control-danger]="(guestbookAddMessageForm.get('body').hasError('required')
                                                                    || guestbookAddMessageForm.get('body').hasError('minlength')
                                                                    || guestbookAddMessageForm.get('body').hasError('maxlength'))
                                                                    && guestbookAddMessageForm.get('body').touched"
                                      required
                                      name="body"
                                      minlength="8"
                                      rows="3"
                                      formControlName="body">
                            </textarea>
                            <div *ngIf="guestbookAddMessageForm.get('body').hasError('required') && guestbookAddMessageForm.get('body').touched" class="form-control-feedback">
                                Текст повідомлення обов'язковий
                            </div>
                            <div *ngIf="guestbookAddMessageForm.get('body').hasError('minlength') && guestbookAddMessageForm.get('body').touched" class="form-control-feedback">
                                Текст повідомлення повинен бути більшим ніж 10 символів
                            </div>
                            <div *ngIf="guestbookAddMessageForm.get('body').hasError('maxlength') && guestbookAddMessageForm.get('body').touched" class="form-control-feedback">
                                Текст повідомлення перевищує 1000 символів
                            </div>
                        </div>
                        <button [hidden]="preloader" type="submit" [disabled]="guestbookAddMessageForm.invalid" class="btn btn-primary">Додати</button>
                        <button *ngIf="preloader" type="button" class="btn btn-primary" >
                            <i class="fa fa-spinner fa-pulse fa-fw"></i>
                            <span class="sr-only">Loading...</span>
                        </button>
                    </form>
                </div>
            </div>
            <div *ngIf="!error && !guestbookMessages" class="row">
                <div class="col-xs-12 text-xs-center">
                    <i class="fa fa-spinner fa-pulse fa-fw fa-3x"></i>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div *ngIf="guestbookMessages" class="row">
                <div class="col-xs-12">
                    <div *ngFor="let message of guestbookMessages | paginate: { id: 'guestbook-messages-list',
                                                                                itemsPerPage: perPage,
                                                                                currentPage: currentPage,
                                                                                totalItems: total }"
                         class="card">
                        <div class="card-block">
                            <div class="h4 card-title">
                                <img class="rounded small-image" src="http://s3-us-west-1.amazonaws.com/witty-avatars/default-avatar-4-l.jpg" alt="message.user.name">
                                {{message.user.name}}
                            </div>
                            <p class="card-text">{{message.body}}</p>
                            <p class="card-text"><small class="text-muted">{{message.created_at}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="error">
                <div class="col-xs-12">
                    <div class="alert alert-danger" role="alert">
                        <strong>{{error}}</strong>
                    </div>
                </div>
            </div>
            <div class="row text-xs-center pagination-row">
                <pagination-controls  id="guestbook-messages-list"
                                      (pageChange)="pageChanged($event)"
                                      maxSize="5"
                                      directionLinks="true"
                                      autoHide="true">
                </pagination-controls>
            </div>
        </div>
        <div class="hidden-sm-down col-md-4 col-lg-3 col-xl-3">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="http://s3-us-west-1.amazonaws.com/witty-avatars/default-avatar-2-l.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">Card title</h4>
                            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                        </div>
                        <img class="img-fluid" src="http://s3-us-west-1.amazonaws.com/witty-avatars/default-avatar-1-l.jpg" alt="Card image">
                        <div class="card-block">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>