<h2>Прогнози гравця: </h2>
<!-- spinner -->
<app-spinner *ngIf="spinner" [height]="250"></app-spinner>
<!-- error -->
<app-error *ngIf="error" [message]="error"></app-error>
<!-- no content -->
<app-info *ngIf="predicts && !predicts.length" [message]="'Гравець не зробив жодного прогнозу в цьому чемпіонаті'"></app-info>
<!-- predicts -->
<table *ngIf="predicts && predicts.length"
       class="table table-striped table-bordered table-hover table-sm black-shadow black-border">
    <thead class="thead-inverse">
    <tr>
        <th class="text-center" title="Номер матчу в чемпіонаті">#</th>
        <th class="text-center" title="Матч">Матч</th>
        <th class="text-center hidden-sm-down" title="Час зробленого прогнозу">Час</th>
        <th class="text-center" title="Прогноз гравця">Прогноз</th>
        <th class="text-center" title="Результат матчу">Результат</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let predict of predicts" routerLink="/championship/matches/{{predict.match_id}}" class="link-table-row">
        <th scope="row" class="text-center">{{predict.match.number_in_competition}}.</th>
        <td class="text-left">{{predict.match.club_first.title}} - {{predict.match.club_second.title}}</td>
        <td class="text-center hidden-sm-down">{{predict.updated_at}}</td>
        <td class="text-center">
            {{showScore(predict.home, predict.away, '?')}}
        </td>
        <td class="text-center">
            {{showScore(predict.match.home, predict.match.away, '?')}}
        </td>
    </tr>
    </tbody>
</table>
