<div class="container">
    <div class="row">
        <div class="col">
            <h2>Таблиця сезонів:</h2>
        </div>
    </div>
    <!-- error -->
    <app-error *ngIf="errorSeasons" [message]="errorSeasons"></app-error>
    <!-- seasons table -->
    <div *ngIf="seasons" class="row">
        <div class="col-12">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th class="d-none d-lg-block">#</th>
                        <th class="text-center">Назва</th>
                        <th class="text-center" title="Активний">
                            <span class="d-none d-lg-block">Активний</span>
                            <i class="d-lg-none fa fa-hourglass-half" aria-hidden="true"></i>
                        </th>
                        <th class="text-center" title="Завершений">
                            <span class="d-none d-lg-block">Завершений</span>
                            <i class="d-lg-none fa fa-hourglass-end" aria-hidden="true"></i>
                        </th>
                        <th class="d-none d-sm-block text-center">Змінено</th>
                        <th class="d-none d-sm-block text-center">Створено</th>
                        <th class="text-center" title="Змінити">
                            <span class="d-none d-lg-block">Змінити</span>
                            <i class="d-lg-none fa fa-pencil-square-o" aria-hidden="true"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let season of seasons">
                        <th scope="row" class="d-none d-lg-block">{{season.id}}.</th>
                        <td class="text-center"><strong>{{season.title}}</strong></td>
                        <td class="text-center">
                            <i *ngIf="season.active" class="text-success fa fa-check-circle fa-lg" aria-hidden="true"></i>
                            <i *ngIf="!season.active" class="text-danger fa fa-times fa-lg" aria-hidden="true"></i>
                        </td>
                        <td class="text-center">
                            <i *ngIf="season.ended" class="text-success fa fa-check-circle fa-lg" aria-hidden="true"></i>
                            <i *ngIf="!season.ended" class="text-danger fa fa-times fa-lg" aria-hidden="true"></i>
                        </td>
                        <td class="d-none d-sm-block text-center"><small>{{season.updated_at}}</small></td>
                        <td class="d-none d-sm-block text-center"><small>{{season.created_at}}</small></td>
                        <td class="text-center">
                            <a type="button" routerLink="/manage/seasons/{{season.id}}/edit" class="btn btn-sm btn-outline-warning">
                                <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
