<div class="container">
    <div class="row">
        <div class="col">
            <h2>Добавити матч:</h2>
        </div>
    </div>
    <!-- spinner -->
    <app-spinner *ngIf="spinnerClubs" [height]="200"></app-spinner>
    <!-- error -->
    <app-error *ngIf="errorClubs" [message]="errorClubs"></app-error>
    <!-- no clubs -->
    <app-info *ngIf="!clubs && !spinnerClubs && !errorClubs" [message]="noClubs"></app-info>
    <div class="row">
        <!-- left column (form) -->
        <div *ngIf="clubs" class="col-12 col-md-6 col-lg-6 text-white">
            <form novalidate [formGroup]="championshipMatchCreateForm"
                  (ngSubmit)="onSubmit(championshipMatchCreateForm)" class="bg-inverse p-2 rounded">
                <!-- home club -->
                <div class="form-group"
                     [class.has-danger]="championshipMatchCreateForm.get('t1_id').hasError('required') && championshipMatchCreateForm.get('t1_id').touched">
                    <label class="form-control-label" for="t1_id"><strong>Господарі:</strong></label>
                    <select id="t1_id"
                            class="form-control"
                            formControlName="t1_id"
                            [class.form-control-danger]="championshipMatchCreateForm.get('t1_id').hasError('required') && championshipMatchCreateForm.get('t1_id').touched">
                        <option *ngFor="let club of clubs" [value]="club.id">{{club.title}}</option>
                    </select>
                    <div *ngIf="championshipMatchCreateForm.get('t1_id').hasError('required') && championshipMatchCreateForm.get('t1_id').touched"
                         class="form-control-feedback">
                        <small>Вибір першої команди обов'язковий.</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-block btn-danger" (click)="resetForm()">
                                <i class="fa fa-trash" aria-hidden="true"></i> Очистити форму
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-block btn-info" (click)="swapClubs()">
                                <i class="fa fa-arrows-v" aria-hidden="true"></i> Поміняти місцями
                            </button>
                        </div>
                    </div>
                </div>
                <!-- away club -->
                <div class="form-group"
                     [class.has-danger]="championshipMatchCreateForm.get('t2_id').hasError('required') && championshipMatchCreateForm.get('t2_id').touched">
                    <label class="form-control-label" for="t2_id"><strong>Гості:</strong></label>
                    <select id="t2_id"
                            class="form-control"
                            formControlName="t2_id"
                            [class.form-control-danger]="championshipMatchCreateForm.get('t2_id').hasError('required') && championshipMatchCreateForm.get('t2_id').touched">
                        <option *ngFor="let club of clubs" [value]="club.id">{{club.title}}</option>
                    </select>
                    <div *ngIf="championshipMatchCreateForm.get('t2_id').hasError('required') && championshipMatchCreateForm.get('t2_id').touched"
                         class="form-control-feedback">
                        <small>Вибір другої команди обов'язковий.</small>
                    </div>
                </div>
                <!-- starts at -->
                <div class="form-group"
                     [class.has-danger]="championshipMatchCreateForm.get('starts_at').hasError('required') && championshipMatchCreateForm.get('starts_at').touched">
                    <label class="form-control-label" for="starts_at"><strong>Час початку мату:</strong></label>
                    <input type="text"
                           id="starts_at"
                           placeholder="Введіть час початку матчу"
                           class="form-control"
                           formControlName="starts_at"
                           [class.form-control-danger]="championshipMatchCreateForm.get('starts_at').hasError('required') && championshipMatchCreateForm.get('starts_at').touched">
                    <div *ngIf="championshipMatchCreateForm.get('starts_at').hasError('required') && championshipMatchCreateForm.get('starts_at').touched"
                         class="form-control-feedback">
                        <small>Вибір часу початку матчу обов'язковий.</small>
                    </div>
                </div>
                <!-- submit -->
                <button [hidden]="spinner" [disabled]="championshipMatchCreateForm.invalid" [hidden]="spinner" type="submit" class="btn btn-primary">
                    Добавити
                </button>
                <!-- spinner button -->
                <app-spinner-button [hidden]="!spinner"></app-spinner-button>
            </form>
        </div>
        <!-- right column (added matches) -->
        <div *ngIf="clubs" class="col-12 col-md-6 col-lg-6">
            <table *ngIf="addedMatches" class="table table-sm table-striped table-bordered">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Команда 1</th>
                        <th>Команда 2</th>
                        <th>Час початку</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let match of addedMatches">
                        <td>{{ match.number_in_competition }}</td>
                        <td>{{ match.club_first.title }}</td>
                        <td>{{ match.club_second.title }}</td>
                        <td>{{ match.starts_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>