<div class="row align-items-end">
    <div class="col-12 col-sm-6 col-md-5">
        <h2>Рейтинг: </h2>
    </div>
    <div *ngIf="rating && rating.length" class="col-12 col-sm-6 col-md-7 text-right">
        <small class="text-muted">Рейтинг оновлено {{rating[0].updated_at}}</small>
    </div>
</div>
<!-- rating table -->
<app-championship-rating-table [rating]="rating"
                               [error]="error"
                               [spinner]="spinner"
                               [authenticatedUser]="authenticatedUser">
</app-championship-rating-table>