<div class="container">
    <app-spinner *ngIf="!error && !authenticatedUser" [height]="250"></app-spinner>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">{{authenticatedUser.name}}</h4>
                    <h6 class="card-subtitle text-muted">{{authenticatedUser.created_at}}</h6>
                </div>
            </div>
        </div>
        <form novalidate [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
            <div class="col-xs-12 col-lg-5 col-xl-4">
                <div class="card">
                    <div *ngIf="!userEditForm.value.image" class="text-xs-center">
                        <img class="img-fluid" src="{{userImagesUrl}}{{authenticatedUser.image || userImageDefault}}" alt="{{authenticatedUser.name}}">
                    </div>
                    <div *ngIf="userEditForm.value.image" class="text-xs-center">
                        <img class="img-fluid" src="{{userEditForm.value.image}}" alt="{{authenticatedUser.name}}">
                        <p></p>
                    </div>
                    <div *ngIf="userEditForm.value.image" class="alert alert-info" role="alert">
                        * натисніть <strong>"Зберегти зміни"</strong> щоб зберегти це зображення для вашого профілю.
                    </div>
                    <div class="card-block">
                        <div class="form-group" [class.has-danger]="errorImage">
                            <label class="form-control-label" for="image"><strong>Аватарка:</strong></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-image" aria-hidden="true"></i></span>
                                <input type="file"
                                       id="image"
                                       placeholder="Завантажте аватарку"
                                       class="form-control"
                                       (change)="fileChange($event)"
                                       accept=".png,.jpg,.gif,.jpeg">
                            </div>
                            <div *ngIf="errorImage" class="form-control-feedback">
                                <small>{{errorImage}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-7 col-xl-8">
                <div class="card">
                    <div class="card-block">
                        <input type="hidden" formControlName="id">

                        <div class="form-group"
                             [class.has-danger]="userEditForm.get('first_name').invalid && !userEditForm.get('first_name').pristine">
                            <label class="form-control-label" for="first_name"><strong>Ім'я:</strong></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                                <input type="text"
                                       id="first_name"
                                       placeholder="Напишіть своє ім'я"
                                       class="form-control"
                                       formControlName="first_name">
                            </div>
                            <div *ngIf="userEditForm.get('first_name').hasError('maxlength') && !userEditForm.get('first_name').pristine" class="form-control-feedback">
                                <small>Ім'я повинно бути меншим ніж 50 символів</small>
                            </div>
                        </div>

                        <div class="form-group"
                             [class.has-danger]="userEditForm.get('hometown').invalid && !userEditForm.get('hometown').pristine">
                            <label class="form-control-label" for="hometown"><strong>Звідки ви:</strong></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></span>
                                <input type="text"
                                       id="hometown"
                                       placeholder="Напишіть звідки ви"
                                       class="form-control"
                                       formControlName="hometown">
                            </div>
                            <div *ngIf="userEditForm.get('hometown').hasError('maxlength') && !userEditForm.get('hometown').pristine" class="form-control-feedback">
                                <small>Місто повинно бути меншим ніж 50 символів</small>
                            </div>
                        </div>

                        <div class="form-group"
                             [class.has-danger]="userEditForm.get('favorite_team').invalid && !userEditForm.get('favorite_team').pristine">
                            <label class="form-control-label" for="favorite_team"><strong>Улюблена команда:</strong></label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-soccer-ball-o" aria-hidden="true"></i></span>
                                <input type="text"
                                       id="favorite_team"
                                       placeholder="Напишіть свою улюблену команду"
                                       class="form-control"
                                       formControlName="favorite_team">
                            </div>
                            <div *ngIf="userEditForm.get('favorite_team').hasError('maxlength') && !userEditForm.get('favorite_team').pristine" class="form-control-feedback">
                                <small>Команда повинна бути меншою ніж 50 символів</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-xs-center">
                <button [disabled]="userEditForm.invalid || errorImage" [hidden]="spinner" type="submit" class="btn btn-primary">Зберегти зміни</button>
                <app-spinner-button [hidden]="!spinner"></app-spinner-button>
            </div>
        </form>
    </div>
</div>
