<!-- spinner -->
<app-spinner *ngIf="spinner" [height]="225"></app-spinner>
<!-- error -->
<app-error *ngIf="error" [message]="error"></app-error>
<!-- no content -->
<app-info *ngIf="rating && !rating.length" [message]="'Чемпіонат ще не почався'"></app-info>
<!-- rating table -->
<table *ngIf="rating && rating.length"
       class="table table-striped table-bordered table-hover table-sm black-shadow black-border">
    <thead class="thead-inverse">
    <tr>
        <th class="text-center" title="Позиція">#</th>
        <th title="Переміщення в рейтингу"></th>
        <th class="text-left" title="Ім'я гравця">Ім'я</th>
        <th class="text-center hidden-xs-down" title="2 очки">x2</th>
        <th class="text-center" title="3 очки">x3</th>
        <th class="text-center" title="Очки">
            <span class="hidden-sm-up">О</span>
            <span class="hidden-xs-down">Очки</span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ratingItem of rating"
        routerLink="/championship/users/{{ratingItem.user.id}}"
        class="cursor-pointer"
        [ngClass]="{'table-active': authenticatedUser && (ratingItem.user.id === authenticatedUser.id)}">
        <th scope="row" class="text-center">{{ratingItem.position}}.</th>
        <!-- no moving -->
        <td *ngIf="!ratingItem.moving" class="text-center text-muted">
            <i class="fa fa-circle-thin" aria-hidden="true"></i>
        </td>
        <!-- up moving -->
        <td *ngIf="ratingItem.moving > 0" class="text-center text-success">
            <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
            <strong>{{ratingItem.moving}}</strong>
        </td>
        <!-- down moving -->
        <td *ngIf="ratingItem.moving < 0" class="text-center text-danger">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
            <strong>{{helperService.makeUnsigned(ratingItem.moving)}}</strong>
        </td>
        <td class="text-left">
            <strong>{{ratingItem.user.name}}</strong>
            <span class="hidden-xs-down">{{helperService.getHometown(ratingItem.user.hometown)}}</span>
        </td>
        <td class="text-center hidden-xs-down">{{ratingItem.x2}}</td>
        <td class="text-center">{{ratingItem.x3}}</td>
        <td class="text-center"><strong>{{ratingItem.points}}</strong></td>
    </tr>
    </tbody>
</table>
