<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 bg-inverse text-white dark-form">
            <h1>Відновлення паролю</h1>
            <form novalidate [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
                <div class="form-group" [class.has-danger]="resetForm.get('email').hasError('required') && resetForm.get('email').touched">
                    <label class="form-control-label" for="email">Email:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input type="email"
                               id="email"
                               placeholder="Введіть свій email"
                               class="form-control"
                               [class.form-control-danger]="resetForm.get('email').hasError('required') && resetForm.get('email').touched"
                               formControlName="email">
                    </div>
                    <div *ngIf="resetForm.get('email').hasError('required') && resetForm.get('email').touched" class="form-control-feedback">
                        Email обов'язковий.
                    </div>
                </div>
                <div class="form-group" [class.has-danger]="resetForm.get('password').hasError('required') && resetForm.get('password').touched">
                    <label class="form-control-label" for="password">Новий пароль:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                        <input type="password"
                               id="password"
                               placeholder="Придумайте новий пароль"
                               class="form-control"
                               [class.form-control-danger]="resetForm.get('password').hasError('required') && resetForm.get('password').touched"
                               formControlName="password">
                    </div>
                    <div *ngIf="resetForm.get('password').hasError('required') && resetForm.get('password').touched" class="form-control-feedback">
                      Пароль обов'язковий.
                    </div>
                </div>
                <div class="form-group"
                     [class.has-danger]="(resetForm.get('password_confirmation').hasError('required') && resetForm.get('password_confirmation').touched) || (resetForm.value.password != resetForm.value.password_confirmation)">
                    <label class="form-control-label" for="password">Повторіть новий пароль:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                        <input type="password"
                               id="password_confirmation"
                               placeholder="повторіть новий пароль"
                               class="form-control"
                               [class.form-control-danger]="(resetForm.get('password_confirmation').hasError('required') && resetForm.get('password_confirmation').touched) || (resetForm.value.password != resetForm.value.password_confirmation)"
                               formControlName="password_confirmation">
                    </div>
                    <div *ngIf="resetForm.get('password_confirmation').hasError('required') && resetForm.get('password_confirmation').touched" class="form-control-feedback">
                        Повторення паролю обов'язкове.
                    </div>
                    <div *ngIf="(resetForm.value.password != resetForm.value.password_confirmation)" class="form-control-feedback">
                        Паролі не співпадають.
                    </div>
                </div>
                <input type="hidden"
                       id="token"
                       formControlName="token">
                <button [hidden]="spinner" [disabled]="resetForm.invalid || (resetForm.value.password != resetForm.value.password_confirmation)" type="submit" class="btn btn-primary">
                    <i class="fa fa-question-circle" aria-hidden="true"></i> Продовжити
                </button>
                <button *ngIf="spinner" type="button" class="btn btn-primary" >
                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                    <span class="sr-only">Loading...</span>
                </button>
            </form>
        </div>
    </div>
</div>