<h2>
    Матчі:
    <button class="btn btn-sm btn-outline-secondary cursor-pointer"
            title="Оновити"
            (click)="getTeamTeamMatchesData(round)">
        <i class="fa fa-refresh fa-fw" aria-hidden="true"></i>
    </button>
</h2>
<!-- error competition -->
<app-error *ngIf="errorCompetition" [message]="errorCompetition"></app-error>
<app-team-round-navigation *ngIf="teamTeamMatches"
                           [teamTeamMatches]="teamTeamMatches"
                           [nextRound]="nextRound"
                           [previousRound]="previousRound"
                           [path]="path">
</app-team-round-navigation>
<!-- error team matches -->
<app-error *ngIf="errorTeamTeamMatches" [message]="errorTeamTeamMatches"></app-error>
<div *ngIf="teamTeamMatches" class="row no-gutters black-shadow mb-1">
    <div class="col-12 black-shadow">
        <app-team-team-match-card *ngFor="let teamTeamMatch of teamTeamMatches"
                                  [teamTeamMatch]="teamTeamMatch"
                                  [round]="round">
        </app-team-team-match-card>
    </div>
</div>
<div *ngIf="teamTeamMatches">
    <small class="pull-right text-muted">
        *прогнози гравців відображаються після початку другого тайму матчу.
    </small>
    <small class="pull-right text-muted">
        **заблоковані матчі відображаються після добавлення результату.
    </small>
</div>