<div class="container">
    <div class="row">
        <div class="col">
            <h2>Добавити результат:</h2>
        </div>
    </div>
    <!-- spinner -->
    <app-spinner *ngIf="spinnerTeamMatches" [height]="250"></app-spinner>
    <!-- error -->
    <app-error *ngIf="errorTeamMatches" [message]="errorTeamMatches"></app-error>
    <!-- no data -->
    <app-info *ngIf="!teamMatches && !spinnerTeamMatches && !errorTeamMatches" [message]="noTeamMatches"></app-info>
    <!-- matches -->
    <div *ngIf="teamMatches" class="row">
        <div class="col-12">
            <table class="table table-hover table-bordered black-border">
                <thead>
                <tr>
                    <th class="hidden-sm-down text-center" title="Номер матчу/номер в раунді">№</th>
                    <th class="hidden-sm-down text-center" title="Матч">Матч</th>
                    <th colspan="2" class="text-center" title="Результати">Результати</th>
                    <th class="text-center" title="Добавити результат">
                        <span class="hidden-sm-down">Додати</span>
                        <i class="fa fa-plus-circle hidden-md-up" aria-hidden="true"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let teamMatch of teamMatches" [ngClass]="{'bg-success': updatedMatches['match_' + teamMatch.id]}">
                    <td class="hidden-sm-down align-middle text-center">
                        <strong>{{teamMatch.id + '/' + teamMatch.number_in_round}}</strong>
                    </td>
                    <td class="hidden-sm-down">
                        <img class="small-image" src="{{clubsImagesUrl}}{{teamMatch.club_first.image}}" alt="{{teamMatch.club_first.link}}">
                        <small class="text-muted">{{teamMatch.starts_at}}</small>
                        <img class="small-image" src="{{clubsImagesUrl}}{{teamMatch.club_second.image}}" alt="{{teamMatch.club_second.link}}"><br>
                        <strong>{{teamMatch.club_first.title}}</strong> - <strong>{{teamMatch.club_second.title}}</strong>
                    </td>
                    <td class="align-middle text-center">
                        <div class="hidden-md-up">
                            <img class="small-image" src="{{clubsImagesUrl}}{{teamMatch.club_first.image}}" alt="{{teamMatch.club_first.link}}"><br>
                            <small>{{teamMatch.club_first.title}}</small>
                        </div>
                        <input type="number"
                               class="form-control text-center"
                               min="0"
                               max="9"
                               maxlength="1"
                               [disabled]="updatedMatches['match_' + teamMatch.id]"
                               [(ngModel)]="teamMatch.home">
                    </td>
                    <td class="align-middle text-center">
                        <div class="hidden-md-up">
                            <img class="small-image" src="{{clubsImagesUrl}}{{teamMatch.club_second.image}}" alt="{{teamMatch.club_second.link}}"><br>
                            <small>{{teamMatch.club_second.title}}</small>
                        </div>
                        <input type="number"
                               class="form-control text-center"
                               min="0"
                               max="9"
                               maxlength="1"
                               [disabled]="updatedMatches['match_' + teamMatch.id]"
                               [(ngModel)]="teamMatch.away">
                    </td>
                    <td class="align-middle text-center">
                        <button (click)="onSubmit(teamMatch)"
                                [hidden]="spinnerButton['match_' + teamMatch.id] || updatedMatches['match_' + teamMatch.id]"
                                class="btn btn-outline-success">
                            <span class="hidden-sm-down">Додати</span>
                            <i class="fa fa-plus-circle hidden-md-up" aria-hidden="true"></i>
                        </button>
                        <app-spinner-button [hidden]="!spinnerButton['match_' + teamMatch.id]"></app-spinner-button>
                        <i [hidden]="!updatedMatches['match_' + teamMatch.id]" class="fa fa-check-circle fa-lg" aria-hidden="true"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
