#carousel {
    margin-top: -8px;
    height: 400px;
    color: white;
    background: url("../../img/field.jpg") center center no-repeat;
    background-size: cover;
}
.logo-block {
    height: 300px;
}
.title-block {
    height: 100px;
}
.title-block .col h2 {
    font-weight: bold;
    font-style: italic;
    margin: 0 25px;
    border: 1px solid #ccc;
}
.logo {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-filter: drop-shadow(0 0 5px #fff);
    filter: drop-shadow(0 0 5px #fff);
}
.vs {
    height: 400px;
    background: url("../../img/vs.png") center center no-repeat;
    background-size: contain;
    -webkit-filter: drop-shadow(0 0 5px #fff);
    filter: drop-shadow(0 0 5px #fff);
}
.carousel-caption h3 {
    display: inline-block;
    border: 1px solid #ccc;
}