<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Останні новини:</h2>
        </div>
    </div>
    <app-spinner *ngIf="!error && !news" [height]="250"></app-spinner>
    <div *ngIf="news && news.length" class="row">
        <div class="col-xs-12">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div *ngFor="let one of news | slice:0:3" class="card card-inverse dark-gray">
                        <h5 class="card-header dark-gray">
                            {{one.title}}
                        </h5>
                        <div class="text-xs-center">
                            <img class="card-img-top img-fluid" src="{{newsImagesUrl}}{{one.image}}" alt="{{one.title}}">
                        </div>
                        <div class="card-block">
                            <div class="card-title"><small class="text-muted">{{one.created_at}}</small></div>
                            <p class="card-text">{{one.body | slice:0:75}}...</p>
                            <div class="text-xs-right">
                                <a routerLink="news/{{one.id}}" class="btn btn-outline-primary">Читати далі</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="error">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
                <strong>{{error}}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <a routerLink="news" class="btn btn-secondary btn-block">Більше новин</a>
        </div>
    </div>
</div>
