<h2>Правила командного чемпіонату: </h2>
<div class="card black-shadow black-border">
    <div class="card-block">
        <p class="card-text">
            <b>1.</b> Для того щоб взяти участь в командному чемпіонаті необхідно створити свою команду з чотирьох учасників,
            або долучитись до існуючої команди. Той, хто створив нову команду автоматично стає її капітаном.
        </p>
        <p class="card-text">
            <b>2.</b> Перед початком кожного чемпіонату відбувається новий набір учасників команд.
            Будь-який гравець може подати заявку в будь-яку команду. Чи підтвердити заявку чи відмовити вирішує капітан.
        </p>
        <p class="card-text">
            <b>3.</b> Кількість команд в кожному чемпіонаті може бути різною. При великій кількості команд можливе розбиття на дві групи.
        </p>
        <p class="card-text">
            <b>4.</b> Після формування складів всіх команд проводиться жеребкування календаря,
            в якому визначиться в яких турах команди гратимуть між собою два матчі - один "вдома" і один "на виїзді".
        </p>
        <p class="card-text">
            <b>5.</b> В кожному турі пропонується зробити прогноз на 12 матчів. Тобто по три на кожного учасника команди.
        </p>
        <p class="card-text">
            <b>6.</b> Учасники команди, яка грає "вдома" можуть змінювати свій прогноз до початку другого тайму матчу.
            Тобто на протязі перших 60 хвилин від початку. Команда яка грає вдома - має "воротаря",
            який може заблокувати один матч для команди суперника.
        </p>
        <p class="card-text">
            <b>7.</b> Учасники команди, яка грає "на виїзді" можуть змінювати свій прогноз на протязі перших 15 хвилин від початку матчу.
        </p>
        <p class="card-text">
            <b>8.</b> Перед кожним туром капітан формує стратегію: вибирає кожному учаснику своєї команди по три матчі для прогнозування.
            Також капітан команди яка грає "вдома" вибирає "воротаря".
            Якщо капітан команди не сформував стратегію на певний тур - вона формується автоматично випадковим чином, крім "воротаря".
        </p>
        <p class="card-text">
            <b>9.</b> Зараховується тільки повністю вгаданий результат матчу!
        </p>
        <p class="card-text">
            <b>10.</b> За перемогою над іншою командою зараховується 3 очки, за нічию - 1 очко.
        </p>
        <p class="card-text">
            <b>11.</b> Переможе команда, яка набере найбільше очок.
            У випадку однакової кількості очок, враховуються наступні показники (в порядку важливості):
        </p>
        <ul>
            <li>кількість вгаданих результатів("Забитих м'ячів")</li>
            <li>кількість заблокованих воротарем матчів</li>
            <li>різниця "забитих" і "пропущених"</li>
            <li>коефіцієнт складності ("Кс")</li>
        </ul>
    </div>
</div>
