<h2>Правила: </h2>
<div class="card black-shadow black-border">
    <div class="card-body">
        <p class="card-text">
            <b>1.</b> Перед початком кожного командного чемпіонату відбувається новий набір учасників команд.
        </p>
        <p class="card-text">
            <b>2.</b> Для того щоб взяти участь в командному чемпіонаті необхідно:
        </p>
        <ul>
            <li>або створити свою команду (тоді гравець автоматично стає її капітаном)</li>
            <li>або долучитись до відкритої команди</li>
        </ul>
        <p class="card-text">
            <b>3.</b> Будь-який гравець може подати заявку одразу в декілька команд.
            Після того як заявку буде підтверджено, всі інші заявки цього гравця будуть автоматично відхилені.
        </p>
        <p class="card-text">
            <b>4.</b> Кожна команда складається з <strong>4</strong> учасників (Включно з капітаном).
        </p>
        <p class="card-text">
            <b>5.</b> <strong>Капітан має право / Обов'язки капітана:</strong>
        </p>
        <ul>
            <li>Змінювати дані своєї команди</li>
            <li>Підтверджувати або відхиляти заявки в свою команду.</li>
            <li>Формувати стратегію на кожен тур (Вибирати для кожного учасника своєї команди по <strong>3</strong> матчі для прогнозування)</li>
            <li>Вибирати воротаря на кожен тур</li>
        </ul>
        <p class="card-text">
            <b>6.</b> Кількість команд в чемпіонаті може бути різною, але обов'язково парною.
        </p>
        <p class="card-text">
            <b>7.</b> Після формування складів всіх команд проводиться жеребкування.
            Згідно жеребкування команди гратимуть між собою в два кола.
            Кожна команда грає з кожною два матчі: один в першому колі, інший - в другому.
            Один з матчів "вдома", інший - "на виїзді".
        </p>
        <p class="card-text">
            <b>8.</b> В кожному турі учасники команди можуть зробити прогноз на <strong>12</strong> матчів.
            (по <strong>3</strong> на кожного учасника команди).
        </p>
        <p class="card-text">
            <b>9.</b> <strong>Учасник команди має право / Обов'язки учасника команди:</strong>
        </p>
        <ul>
            <li>Кожного туру прогнозувати по <strong>3</strong> матчі, які йому вибрав капітан.</li>
        </ul>
        <p class="card-text">
            <b>10.</b> <strong>Воротар має право / Обов'язки воротаря:</strong>
        </p>
        <ul>
            <li>Кожного туру блокувати по <strong>2</strong> матчі для команди суперника.</li>
        </ul>
        <p class="card-text">
            <b>11.</b> Заблокований воротарем матч ніяк не змінює показників (як основних так і додаткових)
            команді суперниці в поточному турі.
        </p>
        <div class="black-shadow p-2 mb-2">
            <p class="card-text">
                <b>12.</b> Учасники команди, яка грає <strong>"вдома"</strong> можуть змінювати свій прогноз до початку другого тайму.
                Тобто на протязі перших <strong>60 хвилин</strong> від початку матчу.
            </p>
            <p class="card-text">
                <b>13.</b> Учасники команди, яка грає <strong>"на виїзді"</strong> можуть змінювати свій прогноз
                на протязі перших <strong>15 хвилин</strong> від початку матчу.
            </p>
        </div>
        <p class="card-text">
            <b>14.</b> Основним показником рахунку між командами є кількість <strong>повністю вгаданих</strong> результатів матчів!
        </p>
        <p class="card-text">
            <b>15.</b> Правила нарахування очок в рейтингу:
        </p>
        <ul>
            <li>команді яка перемогла свого суперника додається <strong>3</strong> очки</li>
            <li>якщо команди зіграли внічию, то кожній команді додається по <strong>1</strong> очку</li>
            <li>команді яка програла не додаються очки</li>
        </ul>
        <p class="card-text">
            <b>16.</b> Також кожній команді в рейтинг нараховуються додаткові показники
            (не залежно від основного рахунку матчу):
        </p>
        <ul>
            <li>Кількість очок за принципом конкурсу "Чемпіонат"</li>
            <li>Коефіцієнт складності за принципом конкурсу "Чемпіонат"</li>
        </ul>
        <p class="card-text">
            <b>17.</b> В командному чемпіонаті є три рейтингові таблиці, які оновлюються після завершення кожного туру:
        </p>
        <ul>
            <li>Рейтинг команд</li>
            <li>Рейтинг бомбардирів (гравців які зпрогнозували найбільше матчів)</li>
            <li>Рейтинг воротарів (гравців які заблокували найбільше вгаданих матчів супернику)</li>
        </ul>
        <p class="card-text">
            <b>18.</b> Переможцем командного чемпіонату буде вважатись та команда,
            яка після завершення всіх турів набере найбільшу кількість очок.
            У випадку однакової кількості очок, враховуються наступні показники (в порядку важливості):
        </p>
        <ul>
            <li>кількість вгаданих результатів </li>
            <li>кількість заблокованих воротарем вгаданих матчів суперника</li>
            <li>кількість перемог</li>
            <li>кількість очок за принципом конкурсу "Чемпіонат"</li>
            <li>коефіцієнт складності за принципом конкурсу "Чемпіонат"</li>
        </ul>
        <p class="card-text">
            <b>19.</b> Переможцем рейтингу бомбардирів буде вважатись той гравець,
            який вгадав найбільше матчів. У випадку однакової кількості вгаданих матчів переможців буде декілька.
        </p>
        <p class="card-text">
            <b>20.</b> Переможцем рейтингу воротарів буде вважатись той гравець,
            який вгадав заблокував найбільше вгаданих матчів супернику.
            У випадку однакової кількості заблокованих матчів переможців буде декілька.
        </p>
    </div>
</div>
